<template>
 <div class="alm_rt_container"> 
  <el-table
    class="alm_rt_table"
    tooltip-effect="dark"
    border
    stripe
    height="500"
    :data="rtAlmInfos">
    <el-table-column
      align="center"
      prop="crateTs"
      label="CreateTime"
      min-width="80">
      <template scope="scope">
        <pre>{{timeFormat(scope.row.createTs)}}</pre>
      </template>
    </el-table-column>
    <el-table-column
      align="center"
      prop="sourceName"
      label="Source"
      min-width="140">
    </el-table-column>
    <el-table-column
      align="center"
      prop="sourceInfo"
      label="SourceInfo"
      min-width="120">
      <template scope="scope">
        <div v-if="scope.row.sourceInfo != null" align="left">
          <el-tooltip effect="dark" placement="top">
            <div slot="content">
              <div v-for="(value, key) in scope.row.sourceInfo"
                :key="value">
                <div class="alm_rt_src_info">
                  <span class="alm_rt_src_key">{{`${key}`}}</span>: <span>{{`${value}`}}</span>
                </div>
              </div>
            </div>
            <div><div v-for="(value, key) in scope.row.sourceInfo"
              :key="value">
              <div class="alm_rt_src_info">
                <span class="alm_rt_src_key">{{`${key}`}}</span>: <span>{{`${value}`}}</span>
              </div>
            </div></div>
          </el-tooltip> 
        </div>
        <div v-else>none</div>
      </template>
    </el-table-column>
    <el-table-column
      align="center"
      prop="type"
      label="Type"
      min-width="80">
    </el-table-column>
    <el-table-column
      align="center"
      prop="description"
      label="Description"
      min-width="160">
      <template scope="scope">
        <div align="left">
          {{scope.row.description}}
        </div>
      </template>
    </el-table-column>
    <el-table-column
      align="center"
      prop="level"
      label="Level"
      min-width="60">
      <template scope="scope">
        <el-tag :type="getLevelTagType(scope.row.level)">
          {{scope.row.level}}
        </el-tag>
      </template>
    </el-table-column>
    <el-table-column
      align="center"
      label="Log"
      min-width="50">
      <template scope="scope">
        <el-button  
          type="text" 
          size="small"
          :disabled="disableViewLog(scope.row.type.toLowerCase())" 
          @click="viewErrorLog(scope.row)"
          :loading="scope.row.loading"
          class="iconfont icon-eye">
        </el-button>
      </template>
    </el-table-column>
  </el-table>
  <el-pagination class="alm_rt_pages" 
      @current-change="handleCurPageChange" 
      :current-page.sync="curPageNum" 
      :page-size="papeSize" 
      layout="total, prev, pager, next" 
      :total="totalSize">
  </el-pagination>
 </div> 
</template>

<script>
import {mapGetters, mapMutations} from 'vuex'
import refreshMixin from '@/js/mixin/refresh'
import logView from './LogView'
import {almAPI} from '@/api/restfulAPI'
import * as glbData from '@/js/globalData'

export default {
  name: 'dvs_rt_alm',
  mixins: [refreshMixin, logView],
  data () {
    return {
      pageName: glbData.ALM_REALTIME,
      refreshInterval: 10000,
      curPageNum: 1,
      papeSize: 15,
      totalSize: 0,
      rtAlmInfos: []
    }
  },
  watch: {
    curPage (curPage) {
      // Check refresh
      /* let moduleName = glbData.belongModule(curPage)
      this.refreshFlag = (moduleName === glbData.ALM_REALTIME) */
      this.refreshFlag = false
    },
    totalSize (size) {
      this.setCurAlarm(size)
    }
  },
  computed: {
    ...mapGetters([
      'curPage'
    ])
  },
  methods: {
    ...mapMutations([
      'setCurAlarm',
      'setCurMsg'
    ]),
    handleCurPageChange (pageNum) {
      this.getRTAlarmInfos(pageNum)
    },
    getRTAlarmInfos (pageNum) {
      let startIndex = this.papeSize * (pageNum - 1)
      let count = this.papeSize
      let p = new Promise((resolve, reject) => {
        almAPI.listRTAlarm(startIndex, count).then(data => {
          this.rtAlmInfos = data.data
          this.totalSize = data.totalCount
          resolve('OK')
        }).catch(error => {
          reject(error)
        })
      })
      return p
    },
    getLevelTagType (level) {
      let tagType = 'gray'
      switch (level.toLowerCase()) {
        case 'info': {
          tagType = 'primary'
          break
        }
        case 'warn': {
          tagType = 'warning'
          break
        }
        case 'error': {
          tagType = 'danger'
          break
        }
        case 'fatal': {
          tagType = 'fatal'
          break
        }
      }
      return tagType
    },
    // saveAsFile () {
    //   let text = 'Hello, World!'
    //   let MIME_TYPE = 'text/plain'
    //   window.URL = window.webkitURL || window.URL

    //   let bb = new Blob([text], {type: MIME_TYPE})

    //   let a = document.createElement('a')
    //   a.download = 'demo.txt'
    //   a.href = window.URL.createObjectURL(bb)
    //   a.textContent = 'Download ready'
    //   a.dataset.downloadurl = [MIME_TYPE, a.download, a.href].join(':')
    //   a.click()
    // },
    refreshFun () {
      this.getRTAlarmInfos(this.curPageNum)
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../style/devops-color.scss";

.alm_rt_container{
  $pagesH: 40px;
  padding: 20px 10px 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  .alm_rt_table{
    flex-grow: 1;
  }

  .alm_rt_pages {
    flex-shrink: 0;
    height: $pagesH;
    text-align: center;
    margin-top: 10px;
  }

  pre{
    font-family: "Microsoft YaHei","微软雅黑",Arial,sans-serif;
    font-size: 14px;
  }

  .alm_rt_src_info {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    .alm_rt_src_key {
      font-weight: 600;
    }
  }

  .el-tag--danger{
    background-color: $dvs-cl-danger-bk;
    border-color: $dvs-cl-danger-bd;
    color: $dvs-cl-danger;
  }

  .el-tag--fatal{
    background-color: $dvs-cl-fatal-bk;
    border-color: $dvs-cl-fatal-bk;
    color: $dvs-cl-fatal;
  }
}
</style>
