<template>
  <div class="prj_cfg_container">
    <el-row v-if="clusterCfg" type="flex" justify="start" align="middle":gutter="20">
      <el-col :span="fSpan">
        <label>Project:</label>
      </el-col> 
      <el-col :span="24-fSpan">
        <el-select
          v-model="curCfgPrjName" 
          @change="cfgPrjChange"
          size="small" 
          placeholder="Please select">
          <el-option v-for="prj in activePrjs" 
            :key="prj" 
            :value="prj.name">
            <span style="font-size: 13px">{{prj.name}}</span>
          </el-option>
        </el-select>
      </el-col>
    </el-row>
    <el-row type="flex" justify="start"  align="middle" :gutter="20">
      <el-col :span="fSpan">
        <label>App:</label>
      </el-col>
      <el-col :span="24-fSpan">
        <el-select 
          v-model="curCfgApp.appName" 
          @change="cfgAppChange" 
          filterable
          allow-create
          size="small" 
          placeholder="Please select">
          <el-option v-for="app in appInfos" 
            :key="app" 
            :value="app.appName" 
            :disabled="app.projectId !== 0">
            <span style="font-size: 13px">{{app.appName}}</span>
          </el-option>
        </el-select>
      </el-col>
    </el-row>
    <el-row type="flex" justify="start" align="middle" :gutter="20">
      <el-col :span="fSpan">
        <label>GitUrl:</label>
      </el-col> 
      <el-col :span="24-fSpan-3"><el-input size="small" v-model="curCfgApp.gitUrl"></el-input></el-col>
      <el-col :span="1">
        <el-tooltip effect="dark"
          :disabled="hasCfgPower"
          content="No permission"  
          placement="top">
          <span>
          <el-button @click="appAloc" 
            type="text" 
            size="small" 
            :disabled="curCfgPrj===null || !hasCfgPower">
            <i class="el-icon-plus"></i>
          </el-button>
          </span>
      </el-tooltip>
      </el-col>
    </el-row>
    <el-row v-if="prjApps.length > 0" type="flex" justify="start" align="middle" :gutter="20">
      <el-col :offset="fSpan" :span="24-fSpan-2">
        <el-table 
          class="cfg_apps_table"
          tooltip-effect="dark"
          border
          stripe
          :data="prjApps.filter(app => app.projectId === this.curCfgPrj.id)">
          <el-table-column 
            prop="appName"
            label="Name"
            min-width="120"
            show-overflow-tooltip>
          </el-table-column> 
          <el-table-column 
            label="GitUrl"
            min-width="200">
            <template scope="scope">
              <span v-if="!scope.row.isEdit">
                {{scope.row.gitUrl}}
              </span>
              <el-input v-if="scope.row.isEdit" 
                v-model="scope.row.gitUrl">
              </el-input>
            </template>
          </el-table-column>  
          <el-table-column 
            label="Operate"
            align="center"
            min-width="100">
            <template scope="scope">
              <el-button 
                @click="appUnaloc(scope.row)" 
                type="text" 
                size="small" 
                v-if="scope.row.isEdit"
                class="el-icon-delete2">
              </el-button>
              <el-tooltip effect="dark"
                :disabled="hasCfgPower"
                content="No permission"  
                placement="top">
                <span>
                <el-button 
                  @click="appEdit(scope.row)" 
                  type="text" 
                  size="small"
                  :disabled="scope.row.isEdit || !hasCfgPower" 
                  class="el-icon-edit">
                </el-button>
                </span>
              </el-tooltip>
              <el-button
                v-show="scope.row.isEdit" 
                @click="appConfirm(scope.row)" 
                type="text" 
                size="small" 
                class="el-icon-check">
              </el-button>
            </template>
          </el-table-column> 
        </el-table>
      </el-col>
    </el-row>
    <el-row v-if="prjApps.length > 0 || !disableApply" type="flex" justify="start" :gutter="20">
      <el-col :offset="16" :span="6">
        <div class="prj_cfg_oprt">
          <el-tooltip effect="dark"
            :disabled="hasCfgPower"
            content="No permission"  
            placement="top">
            <span>
            <el-button @click="appsApply"
              :loading="appsApplying" 
              :disabled="disableApply || !hasCfgPower">
              Apply
            </el-button>
            </span>
          </el-tooltip>
        </div> 
      </el-col>
    </el-row>
  </div>
</template>

<script>
import {mapState, mapMutations} from 'vuex'
import {appAPI} from '@/api/restfulAPI.js'
import uiAuthMixin from '@/js/mixin/uiAuth'
import * as uiAuthData from '@/js/uiAuthProcess'

export default {
  name: 'dvs-prj-config',
  mixins: [uiAuthMixin],
  data () {
    return {
      cfgPrjAuthMask: uiAuthData.PRJ_CFG_AUTH_MASK,
      curCfgPrj: null,
      curCfgPrjName: '',
      curCfgApp: {
        projectId: 0,
        appName: '',
        gitUrl: ''
      },
      prjApps: [],
      prjAppsBase: [],
      prjAppsBaseJson: '',
      disableApply: true,
      appsApplying: false,
      appInfos: []
    }
  },
  mounted () {
    appAPI.listAppsCfg().then(data => {
      this.appInfos = data.data
      this.getCfgPrj()
    })
  },
  watch: {
    cfgPrj () {
      this.getCfgPrj()
    },
    curCfgPrj () {
      this.updateAppsInfo()
    }
  },
  props: {
    cfgPrj: {
      type: Object,
      required: false,
      default: null
    },
    clusterCfg: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  computed: {
    ...mapState([
      'user',
      'activePrjs'
    ]),
    fSpan () {
      return this.clusterCfg ? 2 : 2
    },
    hasCfgPower () {
      return this.checkUIAuth(this.user.role, this.cfgPrjAuthMask)
    }
  },
  methods: {
    ...mapMutations([
      'setCurMsg'
    ]),
    updateAppsInfo () {
      appAPI.listAppsCfg().then(data => {
        this.appInfos = data.data
        this.getPrjApps()
        this.prjAppsBase = [...this.prjApps]
        this.prjAppsBaseJson = JSON.stringify(this.prjApps)
        this.disableApply = true
        this.appsApplying = false
        this.curCfgApp = {
          projectId: 0,
          appName: '',
          gitUrl: ''
        }
      })
    },
    getCfgPrj () {
      if (this.cfgPrj != null) {
        if (this.curCfgPrj == null ||
         (this.curCfgPrj.id !== this.cfgPrj.id)) this.curCfgPrj = this.cfgPrj
      } else if (this.clusterCfg && this.activePrjs.length > 0) {
        this.curCfgPrj = this.activePrjs[0]
      }
      if (this.curCfgPrj != null) this.curCfgPrjName = this.curCfgPrj.name
    },
    getPrjApps () {
      let prjApps = []
      if (this.curCfgPrj != null) {
        for (let app of this.appInfos) {
          if (app.projectId === this.curCfgPrj.id) prjApps.push(app)
        }
      }
      this.prjApps = prjApps
    },
    cfgPrjChange (val) {
      this.curCfgPrj = this.activePrjs.find(prj => {
        return prj.name === val
      })
    },
    cfgAppChange (val) {
      let findApp = this.appInfos.find(app => {
        return app.appName === val
      })
      if (findApp == null) {
        this.curCfgApp = {
          projectId: 0,
          appName: val,
          gitUrl: ''
        }
      } else this.curCfgApp = findApp
    },
    appAloc () {
      if (this.curCfgApp.appName.length > 0) {
        let findApp = this.appInfos.find(app => {
          return app.appName === this.curCfgApp.appName
        })
        if (findApp != null) findApp.projectId = this.curCfgPrj.id
        else {
          this.curCfgApp.projectId = this.curCfgPrj.id
          this.appInfos.push(this.curCfgApp)
        }
        this.curCfgApp = {
          projectId: 0,
          appName: '',
          gitUrl: ''
        }
        this.getPrjApps()
        this.disableApply = this.checkDisableApply()
      }
    },
    appUnaloc (app) {
      app.projectId = 0
      let findApp = this.prjAppsBase.find(fApp => {
        return fApp.id === app.id
      })
      if (findApp == null) this.getPrjApps()
      this.disableApply = this.checkDisableApply()
    },
    appEdit (app) {
      app.isEdit = true
      this.disableApply = true
      this.prjApps = [...this.prjApps]
    },
    appConfirm (app) {
      delete app.isEdit
      this.prjApps = [...this.prjApps]
      this.disableApply = this.checkDisableApply()
    },
    checkDisableApply () {
      let curPrjAppsJson = JSON.stringify(this.prjApps)
      return this.prjAppsBaseJson === curPrjAppsJson
    },
    appsApply () {
      this.appApplying = true
      appAPI.updatePrjApps(this.curCfgPrj.id, this.prjApps).then((data) => {
        this.appApplying = false
        this.updateAppsInfo()
        let msg = {
          message: `Apply project ${this.curCfgPrj.name} apps config success`,
          type: 'success'
        }
        this.setCurMsg(msg)
      }).catch((error) => {
        this.paramsApplying = false
        this.updateAppsInfo()
        if (error.data.errorMsg != null && error.data.errorMsg.length > 0) {
          let msg = {
            message: `Apply project ${this.curCfgPrj.name} apps config failed, cause: ${error.data.errorMsg}`,
            type: 'error'
          }
          this.setCurMsg(msg)
        }
      })
    }
  }
}
</script>

<style lang="scss">
@import "../../style/iconfont.scss";
@import "../../style/devops-color.scss";

.prj_cfg_container{
  border: 1px solid $dvs-cl-div-border;
  border-radius: 4px;
  padding: 0px 20px;
  .el-row{
    margin: 20px;
  }
  .prj_cfg_oprt{
    display: flex;
    justify-content: flex-end;
  }
}
.el-table__expanded-cell {
  padding: 20px;
}
.el-dialog{
  min-width: 700px;
}
</style>
