<template>
<div class="prj_container">
  <el-row class="prj_toolbar" type="flex" align="bottom">
    <el-col :span="8" class="toolbar_oprt">
      <el-tooltip effect="dark" 
        :content="hasEditPower ? 'Add' : 'No permission'" 
        placement="top">
        <span>
        <el-button size="small"
          :disabled="!hasEditPower" 
          @click="prjAdd">
          <i class="iconfont icon-add"></i>
        </el-button>
        </span>
      </el-tooltip>
      <el-tooltip effect="dark"
        :content="hasEditPower ? 'Config' : 'No permission'"  
        placement="top">
        <span>
        <el-button size="small"
          :disabled="!hasCfgPower" 
          @click="prjCfg">
          <i class="iconfont icon-config"></i>
        </el-button>
        </span>
      </el-tooltip>
    </el-col>
  </el-row>
  <el-table 
    class="prj_content_table"
    tooltip-effect="dark"
    stripe
    height="300"
    :data="curPrjs"
    :row-key="rowKey" 
    :expand-row-keys="expandRows" 
    @expand="prjExpand">
    <el-table-column
      label="Active"
      min-width="80">
      <template scope="scope">
        <el-checkbox :value="scope.row.active"></el-checkbox>
      </template>
    </el-table-column> 
    <el-table-column
      prop="name"
      label="Name"
      sortable
      min-width="200"
      show-overflow-tooltip>
    </el-table-column> 
    <el-table-column
      prop="pipelineCount"
      label="PipelineNum"
      min-width="120">
    </el-table-column> 
    <el-table-column
      prop="description"
      label="Description"
      min-width="200"
      :formatter="descriptionFormat"
      show-overflow-tooltip>
    </el-table-column> 
    <el-table-column
      prop="updateTs"
      label="LastUpdated"
      sortable
      :formatter="updateTSFormat"
      min-width="140">
    </el-table-column> 
    <el-table-column
      label="Operate"
      align="center"
      min-width="80">
      <template scope="scope">
        <el-tooltip effect="dark"
          :disabled="hasEditPower" 
          content="No permission" 
          placement="top">
          <span>
            <el-button
              :disabled="!hasEditPower" 
              @click="prjEdit(scope.row)" 
              type="text" 
              size="small" 
              class="el-icon-edit">
            </el-button>
            <el-button 
              v-if = "false"
              :disabled="!hasEditPower" 
              @click="prjDelete(scope.row, scope.$index)" 
              type="text" 
              size="small" 
              class="el-icon-minus">
            </el-button>
          </span>
        </el-tooltip>
      </template>
    </el-table-column> 
    <el-table-column type="expand">
      <template scope="scope">
        <dvs-prj-cfg :cfgPrj="scope.row">
        </dvs-prj-cfg>
      </template>
    </el-table-column>
  </el-table>
  <el-pagination class="prj_pages"
    @current-change="handleCurPageChange"
    :current-page.sync="curPageNum"
    :page-size="papeSize"
    layout="total, prev, pager, next"
    :total="prjTotalSize">
  </el-pagination>
  <dvs-prj-editer 
    :isShow="editPrjDlgShow" 
    :oprtType="editPrjOprt" 
    :prjInfo="editPrjInfo"
    @editOk="prjEditOk"
    @editCancel="prjEditCancel">
  </dvs-prj-editer>
  <el-dialog size="small" v-if="cfgShow" title="Config App" :visible.sync="cfgShow">
    <dvs-prj-cfg :clusterCfg="true">
    </dvs-prj-cfg>
  </el-dialog>
</div>
</template>

<script>
import dvsPrjEditer from './PrjEditer'
import dvsPrjCfg from './Configuration'
import {mapState, mapGetters, mapMutations, mapActions} from 'vuex'
import { prjAPI } from '@/api/restfulAPI'
import refreshMixin from '@/js/mixin/refresh'
import uiAuthMixin from '@/js/mixin/uiAuth'
import moment from 'moment'
import * as glbData from '@/js/globalData'
import * as uiAuthData from '@/js/uiAuthProcess'

export default {
  name: 'dvs-project',
  components: {dvsPrjEditer, dvsPrjCfg},
  mixins: [refreshMixin, uiAuthMixin],
  data () {
    return {
      editPrjAuthMask: uiAuthData.PRJ_EDIT_AUTH_MASK,
      cfgPrjAuthMask: uiAuthData.PRJ_CFG_AUTH_MASK,
      pageName: glbData.PRJ_MAIN,
      refreshInterval: 5000,
      curPageNum: 1,
      papeSize: 15,
      expandRows: [],
      editPrjDlgShow: false,
      editPrjOprt: '',
      editPrjInfo: {
        active: true,
        type: '',
        name: '',
        desc: ''
      },
      editPrj: null,
      cfgShow: false
    }
  },
  // Refresh page reconfirm current project and expend rows
  mounted () {
    if (this.$route.name === glbData.PRJ_CONFIG) {
      let startIndex = this.papeSize * (this.curPageNum - 1)
      let count = this.papeSize
      this.getPrjs({startIndex, count}).then(() => {
        let cfgPrjId = parseInt(this.$route.params.cfgPrjId)
        this.expandRows = [cfgPrjId]
      })
    }
  },
  watch: {
    curPage (curPage) {
      if (curPage === this.pageName) {
        this.expandRows = []
      }
      // Check refresh
      let moduleName = glbData.belongModule(curPage)
      this.refreshFlag = (moduleName === glbData.PRJ_MODULE_NAME)
    },
    // Go forward or back reconfirm current project and expend rows
    $route (to, form) {
      if (to.name === glbData.PRJ_CONFIG) {
        let cfgPrjId = parseInt(to.params.cfgPrjId)
        this.expandRows = [cfgPrjId]
      }
    },
    curPrjs () {
      if (this.expandRows.length > 0) this.expandRows = [...this.expandRows]
    },
    expandRows (val) {
      // Expend rows is empty then replace route with project main
      if (val.length === 0) {
        this.$router.replace({ name: glbData.PRJ_MAIN, params: { prjId: this.$route.params.prjId } })
      }
    }
  },
  computed: {
    ...mapState([
      'user',
      'curWsp'
    ]),
    ...mapState('project', [
      'curPrjs',
      'prjTotalSize'
    ]),
    ...mapGetters([
      'curPage'
    ]),
    hasEditPower () {
      return this.checkUIAuth(this.user.role, this.editPrjAuthMask)
    },
    hasCfgPower () {
      return this.checkUIAuth(this.user.role, this.cfgPrjAuthMask)
    }
  },
  methods: {
    ...mapMutations([
      'setCurMsg'
    ]),
    ...mapActions('project', [
      'getPrjs'
    ]),
    prjAdd () {
      this.refreshFlag = false
      this.editPrjOprt = 'Add'
      this.editPrjDlgShow = true
    },
    prjEdit (itemData) {
      this.refreshFlag = false
      this.editPrj = itemData
      this.editPrjInfo.active = itemData.active
      this.editPrjInfo.type = itemData.type
      this.editPrjInfo.name = itemData.name
      this.editPrjInfo.desc = itemData.description
      this.editPrjOprt = 'Edit'
      this.editPrjDlgShow = true
    },
    prjEditOk () {
      this.editPrjDlgShow = false
      if (this.editPrjInfo.name.length !== 0) {
        if (this.editPrjOprt === 'Add') {
          this.postPrj(this.editPrjInfo.name,
            this.editPrjInfo.type,
            this.editPrjInfo.desc,
            this.editPrjInfo.active)
        } else if (this.editPrj) {
          this.putPrj(this.editPrj.id,
            this.editPrjInfo.name,
            this.editPrjInfo.type,
            this.editPrjInfo.desc,
            this.editPrjInfo.active)
          this.editPrj = null
        }
      }
      this.editPrjInfo.name = ''
      this.editPrjInfo.desc = ''
      this.editPrjInfo.type = ''
      this.editPrjInfo.active = true
    },
    prjEditCancel () {
      this.editPrjInfo.name = ''
      this.editPrjInfo.desc = ''
      this.editPrjInfo.type = ''
      this.editPrjInfo.active = true
      this.editPrjDlgShow = false
      this.refreshFlag = true
    },
    prjDelete (itemData, index) {
      this.deletePrj(itemData)
      if (index === 0) this.curPageNum = this.curPageNum - 1
      this.handleCurPageChange(this.curPageNum)
    },
    rowKey (row) {
      return row.id
    },
    prjExpand (row, expanded) {
      if (expanded === true) {
        this.expandRows = [row.id]
        this.$router.replace({name: glbData.PRJ_CONFIG, params: {cfgPrjId: `${row.id}`}})
      } else {
        this.expandRows = []
      }
    },
    handleCurPageChange (pageNum) {
      if (pageNum > 0) {
        let startIndex = this.papeSize * (pageNum - 1)
        let count = this.papeSize
        this.getPrjs({startIndex, count})
      }
    },
    postPrj (name, type, desc, active) {
      prjAPI.addPrj(this.curWsp.id, {name, type, desc, active}).then(data => {
        let msg = {
          message: `Add ${name} project success`,
          type: 'success'
        }
        this.setCurMsg(msg)
        this.refreshFlag = true
      }).catch(error => {
        if (error.data != null &&
          error.data.errorMsg != null &&
          error.data.errorMsg.length > 0) {
          let msg = {
            message: `Add ${name} project failed, cause: ${error.data.errorMsg}`,
            type: 'error'
          }
          this.setCurMsg(msg)
        }
        this.refreshFlag = true
      })
    },
    putPrj (id, name, type, desc, active) {
      prjAPI.updatePrj(this.curWsp.id, {id, name, type, desc, active}).then(data => {
        this.refreshFlag = true
      }).catch(error => {
        this.refreshFlag = true
        console.log(`${error}`)
      })
    },
    updateTSFormat (row, column) {
      let updateTs = moment(row.updateTs).format('YYYY-MM-DD HH:mm:ss')
      return updateTs
    },
    descriptionFormat (row, column) {
      return row.description !== null && row.description.length > 0 ? row.description : 'N/A'
    },
    prjCfg () {
      this.cfgShow = true
    },
    refreshFun () {
      this.handleCurPageChange(this.curPageNum)
    }
  }
}
</script>

<style lang="scss">
@import "../../style/iconfont.scss";
@import "../../style/devops-color.scss";

.prj_container {
  $toolbarH:45px;
  $pagesH:40px;
  padding: 0px 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  .prj_toolbar{
    flex-shrink: 0;
    background-color: $dvs-cl-toolbar-bk;
    height: $toolbarH;
    margin-top: 5px;
    .toolbar_oprt{
      height: 100%;
      padding-left: 20px;
      padding-top: 4px;
      font-size: 1.4em;
    }
  }

  .prj_content_table{
    flex-grow: 1;
    margin-top: 5px;
    width: 100%;
  }

  .prj_pages{
    flex-shrink: 0;
    height: $pagesH;
    text-align: center;
    margin-top: 10px;
  }

  .el-dialog {
    width: 60%
  }
}
</style>
