<template>
 <div class="cf_depoly_status_container"> 
  <div class="cf_dp_status_header">
    <el-tooltip effect="dark" 
      content="Last refresh time" 
      placement="top">
      <span class="cf_dp_status_clock">
        <i class="iconfont icon-clock"></i>&nbsp;
        <label style="font-weight:600;">PCF:</label>{{formatRefreshTs(lastRefresh.pcf)}}&nbsp;
        <label style="font-weight:600;">OCF:</label>{{formatRefreshTs(lastRefresh.ocf)}}&nbsp;
        <label style="font-weight:600;">III:</label>{{formatRefreshTs(lastRefresh.iii)}}
      </span>
    </el-tooltip>
  </div>
  <el-table
    class="dp_status_table"
    v-loading="isLoading"
    element-loading-text="Loading"
    tooltip-effect="dark"
    border
    height="500"
    :row-class-name="tableRowClassName"
    :data="tidyStatusInfos">
    <el-table-column
      align="center"
      prop="prjName"
      label="Project"
      min-width="100">
    </el-table-column>
    <el-table-column
      align = "center"
      prop = "appName"
      label="AppName"
      min-width="110">
      <template scope="scope">
        <div v-if="scope.row.appName === '-'">{{scope.row.appName}}</div>
        <a v-if="scope.row.appName !== '-'" 
          href="javascript:void(0);" 
          @click="viewChangeLog(scope.row)">
          {{scope.row.appName}}
        </a>
      </template>
    </el-table-column>
    <el-table-column
      align="center"
      prop="cfName"
      label="CF"
      min-width="80">
    </el-table-column>
    <el-table-column
      align="center"
      label="Stage"
      min-width="80">
      <el-table-column
        align="center"
        prop="stage.version"
        label="Version"
        min-width="90">
      </el-table-column> 
      <el-table-column
        align="center"
        prop="stage.status"
        label="Status"
        min-width="100">
        <template scope="scope">
          <el-tag v-if="scope.row.stage.status !== 'none'" 
            :type="getStatusTagType(scope.row.stage.status)">
            {{scope.row.stage.status}}
          </el-tag>
          <div v-else>{{scope.row.stage.status}}</div>
        </template>
      </el-table-column>
      <el-table-column
        align="center"
        prop="stage.stStatus"
        label="STResult"
        min-width="100">
        <template scope="scope">
          <el-tag v-if="scope.row.stage.stStatus !== 'none'" 
            :type="getStatusTagType(scope.row.stage.stStatus)">
            {{scope.row.stage.stStatus}}
          </el-tag>
          <div v-else>{{scope.row.stage.stStatus}}</div>
        </template>
      </el-table-column>
      <el-table-column
        align="center"
        prop="stage.url"
        label="URL"
        min-width="60">
        <template scope="scope">
          <el-popover
            ref="stgPpopover"
            placement="top"
            width="200"
            trigger="hover">
            <div v-for="url in scope.row.stage.url" :key="url" align="left">
              <a :href="url" target="_blank">{{url}}</a>
            </div>
          </el-popover>
          <div v-if="scope.row.stage.version === 'none'">none</div>
          <div v-else>
            <el-tooltip effect="dark" 
              :disabled="!(scope.row.stage.url.length === 0)" 
              content="no route" 
              placement="top">
              <span><el-button :disabled="scope.row.stage.url.length === 0"
                type="text" 
                size="small" 
                v-popover:stgPpopover
                class="iconfont icon-link">
              </el-button></span>
            </el-tooltip>
          </div>
        </template>
      </el-table-column>
    </el-table-column>
    <el-table-column
      align="center"
      label="Production"
      min-width="80">
      <el-table-column
        align="center"
        prop="production.version"
        label="Version"
        min-width="90">
      </el-table-column> 
      <el-table-column
        align="center"
        prop="production.status"
        label="Status"
        min-width="100">
        <template scope="scope">
          <div v-if="scope.row.production.status === 'none'">{{scope.row.production.status}}</div>
          <el-tag v-if="scope.row.production.status !== 'none'" 
            :type="getStatusTagType(scope.row.production.status)">
            {{scope.row.production.status}}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column
        align="center"
        prop="production.stStatus"
        label="STResult"
        min-width="100">
        <template scope="scope">
          <div v-if="scope.row.production.stStatus === 'none'">{{scope.row.production.stStatus}}</div>
          <el-tag v-if="scope.row.production.stStatus !== 'none'"
            :type="getStatusTagType(scope.row.production.stStatus)">
            {{scope.row.production.stStatus}}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column
        align="center"
        prop="production.url"
        label="URL"
        min-width="60">
        <template scope="scope">
          <el-popover
            ref="prodPpopover"
            placement="top"
            width="200"
            trigger="hover">
            <div v-for="url in scope.row.production.url" :key="url" align="left">
              <a :href="url" target="_blank">{{url}}</a>
            </div>
          </el-popover>
          <div v-if="scope.row.production.version === 'none'">none</div>
          <div v-else>
            <el-tooltip effect="dark" 
              :disabled="!(scope.row.production.url.length === 0)" 
              content="no route" 
              placement="top">
              <span><el-button :disabled="scope.row.production.url.length === 0"
                type="text" 
                size="small" 
                v-popover:prodPpopover
                class="iconfont icon-link">
              </el-button></span>
            </el-tooltip>
          </div>
        </template>
      </el-table-column>
    </el-table-column>
  </el-table>
 </div> 
</template>

<script>
import {mapGetters, mapMutations} from 'vuex'
import {appAPI} from '@/api/restfulAPI'
import * as glbData from '@/js/globalData'
import refreshMixin from '@/js/mixin/refresh'
import MarkdownIt from 'markdown-it'
import moment from 'moment'

export default {
  name: 'dvs-hlt-cfdp-status',
  mixins: [refreshMixin],
  data () {
    return {
      CFType: ['PCF', 'OCF', 'III'],
      PRJType: ['common', 'srp', '-'],
      pageName: glbData.HLT_CFDP,
      refreshInterval: 10000,
      isLoading: true,
      rowStyleClass: null,
      dpStatusInfos: [],
      curDPStatusInfos: [],
      tidyStatusInfos: [],
      lastRefresh: {
        pcf: 0,
        ocf: 0,
        iii: 0
      }
    }
  },
  watch: {
    curDPStatusInfos () {
      if (this.isLoading) this.isLoading = false
      this.dpStatusInfos = [...this.curDPStatusInfos]
      this.rowStyleClass = null
      this.tidyCFDpStatus()
    },
    curPage (curPage) {
      // Check refresh
      let moduleName = glbData.belongModule(curPage)
      this.refreshFlag = (moduleName === glbData.HLT_MODULE_NAME)
    }
  },
  computed: {
    ...mapGetters([
      'curPage'
    ])
  },
  methods: {
    ...mapMutations([
      'setCurMsg'
    ]),
    formatRefreshTs (ts) {
      return ts === 0 ? 'none' : moment(ts).format('YYYY-MM-DD HH:mm:ss')
    },
    getDpStatusInfos () {
      let p = new Promise((resolve, reject) => {
        appAPI.listAppStatus().then(data => {
          this.curDPStatusInfos = data.data
          this.lastRefresh.pcf = data.pcflatestUpdate
          this.lastRefresh.ocf = data.ocflatestUpdate
          this.lastRefresh.iii = data.iiilatestUpdate
          resolve('OK')
        }).catch(error => {
          if (this.isLoading) this.isLoading = false
          reject(error)
        })
      })
      return p
    },
    tidyCFDpStatus () {
      let tidyCFDpStatus = []
      this.dpStatusInfos.sort((a, b) => {
        let ret = 0
        if (a.projectType == null && b.projectType == null) ret = 0
        else if (a.projectType == null && b.projectType != null) ret = 1
        else if (a.projectType != null && b.projectType == null) ret = -1
        else {
          let aPrjType = a.projectType.toLowerCase()
          let bPrjType = b.projectType.toLowerCase()
          let aPri = this.PRJType.findIndex(tp => { return tp === aPrjType })
          let bPri = this.PRJType.findIndex(tp => { return tp === bPrjType })
          ret = aPri - bPri
        }
        if (ret === 0) {
          ret = a.projectId - b.projectId
        }
        return ret
      })
      for (let appInfos of this.dpStatusInfos) {
        let tidyAppInfos = this.tidyAppInfos(appInfos)
        tidyCFDpStatus = [...tidyCFDpStatus, ...tidyAppInfos]
      }
      let tmpProjectId = -1
      for (let statusInfo of tidyCFDpStatus) {
        if (tmpProjectId !== statusInfo.prjId) {
          tmpProjectId = statusInfo.prjId
          statusInfo.prjName = statusInfo.realPrjName
        }
      }
      this.tidyStatusInfos = tidyCFDpStatus
    },
    tidyAppInfos (appInfos) {
      let tidyAppInfos = []
      let cfInfos = []
      if (this.rowStyleClass == null) this.rowStyleClass = 'cf-row-1'
      else if (this.rowStyleClass === 'cf-row-1') this.rowStyleClass = 'cf-row-2'
      else this.rowStyleClass = 'cf-row-1'
      for (let i = 0; i < this.CFType.length; i++) {
        let cfInfo = {
          cfName: this.CFType[i],
          infos: []
        }
        cfInfos.push(cfInfo)
      }
      for (let appInfo of appInfos.infos) {
        let sCnt = 0
        let pCnt = 0
        let spCnt = 0
        let sData = []
        let pData = []
        for (let dData of appInfo.dData) {
          if (dData.space.toLowerCase() === 'stage') {
            sData = dData.sData
            sCnt = dData.sData.length
          } else if (dData.space.toLowerCase() === 'production') {
            pData = dData.sData
            pCnt = dData.sData.length
          }
        }
        spCnt = sCnt > pCnt ? sCnt : pCnt
        for (let j = 0; j < spCnt; j++) {
          let spInfo = {
            appName: '-',
            realAppName: `${appInfos.appName}`,
            gitUrl: appInfos.gitUrl != null ? `${appInfos.gitUrl}` : null,
            prjName: '-',
            realPrjName: appInfos.projectName != null ? `${appInfos.projectName}` : 'unassigned',
            prjId: `${appInfos.projectId}`,
            cfName: `-`,
            realCFName: `${appInfo.cfName}`,
            stage: {version: 'none', status: 'none', stStatus: 'none', url: []},
            production: {version: 'none', status: 'none', stStatus: 'none', url: []},
            rowStyle: this.rowStyleClass
          }
          if (sData[j] != null) {
            if (sData[j].version != null) spInfo.stage.version = sData[j].version
            if (sData[j].status != null) spInfo.stage.status = sData[j].status
            if (sData[j].stStatus != null) spInfo.stage.stStatus = sData[j].stStatus
            if (sData[j].url != null) spInfo.stage.url = [...sData[j].url]
          }
          if (pData[j] != null) {
            if (pData[j].version != null) spInfo.production.version = pData[j].version
            if (pData[j].status != null) spInfo.production.status = pData[j].status
            if (pData[j].stStatus != null) spInfo.production.stStatus = pData[j].stStatus
            if (pData[j].url != null) spInfo.production.url = [...pData[j].url]
          }
          if (j === 0) spInfo.cfName = `${appInfo.cfName}`
          let findCfInfo = cfInfos.find(info => {
            return info.cfName.toLowerCase() === spInfo.realCFName.toLowerCase()
          })
          if (findCfInfo != null) findCfInfo.infos.push(spInfo)
        }
      }
      for (let k = 0; k < cfInfos.length; k++) {
        if (cfInfos[k].infos.length === 0) {
          let spInfo = {
            appName: '-',
            realAppName: `${appInfos.appName}`,
            gitUrl: appInfos.gitUrl != null ? `${appInfos.gitUrl}` : null,
            prjName: '-',
            realPrjName: appInfos.projectName != null ? `${appInfos.projectName}` : 'unassigned',
            prjId: `${appInfos.projectId}`,
            cfName: `${cfInfos[k].cfName}`,
            realCFName: `${cfInfos[k].cfName}`,
            stage: {version: 'none', status: 'none', stStatus: 'none', url: []},
            production: {version: 'none', status: 'none', stStatus: 'none', url: []},
            rowStyle: this.rowStyleClass
          }
          cfInfos[k].infos.push(spInfo)
        }
        if (k === 0) {
          cfInfos[k].infos[0].appName = `${appInfos.appName}`
        }
        tidyAppInfos = [...tidyAppInfos, ...cfInfos[k].infos]
      }
      return tidyAppInfos
    },
    getStatusTagType (status) {
      let tagType = 'gray'
      switch (status.toLowerCase()) {
        case 'running': {
          tagType = 'success'
          break
        }
        case 'crashed': {
          tagType = 'danger'
          break
        }
        case 'failed': {
          tagType = 'danger'
          break
        }
        case 'pending': {
          tagType = 'warning'
          break
        }
        case 'starting': {
          tagType = 'primary'
          break
        }
      }
      return tagType
    },
    tableRowClassName (row, index) {
      return row.rowStyle
    },
    refreshFun () {
      this.getDpStatusInfos().catch(error => {
        console.log(error)
      })
    },
    openWindow (title, url, log) {
      let curUrl = ''
      if (url != null) curUrl = url
      let win = window.open(curUrl)
      if (log != null) win.document.write(log)
      win.document.title = title
      win.focus()
    },
    viewChangeLog (app) {
      if (app.gitUrl == null) {
        let msg = {
          message: `App ${app.appName} change log not config`,
          type: 'warning'
        }
        this.setCurMsg(msg)
      } else {
        appAPI.getChangeLog(app.gitUrl).then(mdData => {
          let md = new MarkdownIt({
            html: true,
            linkify: true,
            typographer: true
          })
          let changeLog = md.render(mdData)
          this.openWindow(`ChangeLog-${app.appName}`, null, changeLog)
        }).catch(error => {
          if (error.data != null &&
            error.data.errorMsg != null &&
            error.data.errorMsg.length > 0) {
            let msg = {
              message: `View ${app.appName} change log failed, cause: ${error.data.errorMsg}`,
              type: 'error'
            }
            this.setCurMsg(msg)
          }
        })
      }
    },
    getStatusNoUrlText (spaceST) {
      return spaceST.version === 'none' ? 'none' : 'no route'
    }
  }
}
</script>

<style lang="scss">
@import "../../style/devops-color.scss";

.cf_depoly_status_container{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  .cf_dp_status_header{
    padding: 0 0 10px;
    display: flex;
    justify-content: flex-end;
  }
  .dp_status_table{
    flex-grow: 1;
  }
}
a:hover{
  color: lightskyblue;
}
.el-table .cf-row-1 {
  background: $dvs-cl-w-table-item-bk;
}
.el-table .cf-row-2 {
  background: $dvs-cl-y-table-item-bk;
}
</style>
