<template>
<div class="hlt_container">
  <dvs-applc></dvs-applc>
</div>
</template>

<script>
import dvsApplc from './CFDeployStatus.vue'
export default {
  name: 'dvs-healthy',
  components: { dvsApplc }
}
</script>

<style lang="scss">
.hlt_container{
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 5px 5px;
}
</style>
