<template>
  <div class="ppl_bldhist_container">
    <el-row type="flex" justify="left" :gutter="20">
      <el-col :span="12"><h4>Pipeline Builds:</h4></el-col>
    </el-row>
    <el-row type="flex" justify="left" align="top" :gutter="20">
      <el-col>
        <el-table 
          class="build_table"
          tooltip-effect="dark"
          border
          :row-class-name="selectRowHL"
          @row-click = "selectRow"
          max-height="250"
          :default-sort="{prop:'createTs', order:'ascending'}"
          :data="buildInfos">
          <el-table-column
            prop="index"
            label="Index"
            align="center"
            min-width="80">
          </el-table-column> 
          <el-table-column
            label="Status"
            show-overflow-tooltip
            min-width="90">
            <template scope="scope">
              <el-tag  
              :type="getStatusTagType(scope.row.status)">
                {{scope.row.status}}
              </el-tag>
            </template>
          </el-table-column> 
          <el-table-column
            prop="createTs"
            label="CreateTime"
            :formatter="createTsFormat"
            min-width="180">
          </el-table-column> 
          <el-table-column
            label="Duration"
            :formatter="getDuration"
            min-width="220">
          </el-table-column>
          <el-table-column
            v-if = "false"
            label="Executor"
            :formatter="getDomain"
            :show-overflow-tooltip="true"
            min-width="120">
          </el-table-column> 
          <el-table-column
            label="Domain"
            :formatter="getDomain"
            :show-overflow-tooltip="true"
            min-width="140">
          </el-table-column>
          <el-table-column
            label="Space"
            :formatter="getSpace"
            min-width="120">
          </el-table-column>
          <el-table-column
            v-if = "false"
            label="Log"
            align="center"
            min-width="90">
            <template scope="scope">
              <el-button  
                type="text" 
                size="small" 
                @click="viewBldLog(scope.row)"
                :loading="scope.row.loading"
                class="iconfont icon-eye">
              </el-button>
            </template>
          </el-table-column> 
        </el-table>
      </el-col>
    </el-row>
    <!--
    <el-row type="flex" justify="left" :gutter="20">
      <el-col :span="12"><h4>Build Stages:</h4></el-col>
    </el-row>
    <el-row type="flex" justify="left" align="top" :gutter="20">
      <el-col :span="24">
        <el-table 
          class="stage_table"
          tooltip-effect="dark"
          border
          stripe
          max-height="250"
          :data="stageInfos">
          <el-table-column
            prop="index"
            label="Index"
            align="center"
            min-width="80">
          </el-table-column> 
          <el-table-column
            prop="name"
            label="Name"
            align="center"
            min-width="120">
          </el-table-column>
          <el-table-column
            prop="status"
            label="Status"
            min-width="120">
            <template scope="scope">
              <el-tag  
              :type="getStatusTagType(scope.row.status)">
                {{scope.row.status}}
              </el-tag>
            </template>
          </el-table-column> 
          <el-table-column
            prop="createTs"
            label="CreateTime"
            :formatter="createTsFormat"
            min-width="180">
          </el-table-column> 
          <el-table-column
            prop="updateTs"
            label="LastUpdated"
            :formatter="updateTsFormat"
            width="180">
          </el-table-column> 
          <el-table-column
            label="Report"
            align="center"
            prop="reports"
            min-width="90">
            <template scope="scope">
              <el-popover
                ref="stgPpopover"
                placement="top"
                width="200"
                trigger="hover">
                <div v-for="report in scope.row.reports" :key="report.url" align="left">
                  <a :href="report.url" target="_blank" style="word-wrap:break-word">{{report.url}}</a>
                </div>
              </el-popover>
              <el-tooltip effect="dark" 
                :disabled="!(scope.row.reports.length === 0)" 
                content="no report" 
                placement="top">
                <span><el-button :disabled="scope.row.reports.length === 0"
                  type="text" 
                  size="small" 
                  v-popover:stgPpopover
                  class="iconfont icon-eye">
                </el-button></span>
              </el-tooltip>
            </template>
          </el-table-column> 
        </el-table>
      </el-col>
    </el-row>
    -->
  </div>
</template>

<script>
import moment from 'moment'
import {mapState, mapGetters, mapMutations} from 'vuex'
import {bldAPI, stgAPI} from '@/api/restfulAPI'
import refreshMixin from '@/js/mixin/refresh'
import * as glbData from '@/js/globalData'

export default {
  name: 'dvs-ppl-bldhist',
  mixins: [refreshMixin],
  data () {
    return {
      refreshInterval: 2000,
      stringType: glbData.STRING_TYPE,
      curBld: null,
      buildInfos: [],
      stageInfos: []
    }
  },
  watch: {
    $route (to, from) {
      this.refreshFlag = (to.name === glbData.PPL_BUILDHISTORY)
      this.curBld = null
    },
    buildInfos (buildInfos) {
      let findBld = null
      if (this.curBld != null) {
        findBld = buildInfos.find(bld => {
          return bld.id === this.curBld.id
        })
      }
      if (findBld == null) this.curBld = buildInfos[0]
      else this.curBld = findBld
    },
    curPpl (ppl) {
      this.getBuilds()
    }
  },
  computed: {
    ...mapGetters([
      'curPage'
    ]),
    ...mapState('pipeline', [
      'curPpl'
    ])
  },
  methods: {
    ...mapMutations([
      'setCurMsg'
    ]),
    viewBldLog (row) {
      row.loading = true
      bldAPI.getBuildLog(row.id).then(data => {
        delete row.loading
        if (data != null && data.length > 0) {
          let bldLog = `<pre>${data}</pre>`
          glbData.openWindow(`BuildLog-#${row.id}`, null, bldLog)
        } else {
          let msg = {
            message: `Build #${row.id} not have log!`,
            type: 'warning'
          }
          this.setCurMsg(msg)
        }
      }).catch(error => {
        delete row.loading
        if (error.data != null &&
          error.data.errorMsg != null &&
          error.data.errorMsg.length > 0) {
          let msg = {
            message: `Get build ${row.id} log failed, cause: ${error.data.errorMsg}`,
            type: 'error'
          }
          this.setCurMsg(msg)
        }
      })
    },
    updateTsFormat (row, column) {
      let updateTs = moment(row.updateTs).format('YYYY-MM-DD HH:mm:ss')
      return updateTs
    },
    createTsFormat (row, column) {
      let updateTs = moment(row.createTs).format('YYYY-MM-DD HH:mm:ss')
      return updateTs
    },
    getDuration (row, column) {
      let build = row
      let duration = 'N/A'
      if (build.status === 'succeeded' || build.status === 'failed') {
        let tsCrtM = moment(build.createTs)
        let tsUpdM = moment(build.updateTs)
        duration = `${moment.preciseDiff(tsCrtM, tsUpdM)}`
      }
      return duration
    },
    getDomain (row, column) {
      let bld = row
      let domain = 'N/A'
      if (bld.parameters != null) {
        let params = (typeof bld.parameters === 'string')
          ? JSON.parse(bld.parameters) : bld.parameters
        if (params != null && params.length > 0) {
          let findDomain = params.find(param => {
            return param.name === 'cf_domain'
          })
          if (findDomain != null) domain = findDomain.value
        }
      }
      return domain
    },
    getSpace (row, column) {
      let bld = row
      let space = 'N/A'
      if (bld.parameters != null) {
        let params = (typeof bld.parameters === 'string')
          ? JSON.parse(bld.parameters) : bld.parameters
        if (params != null && params.length > 0) {
          let findSpace = params.find(param => {
            return param.name === 'cf_space'
          })
          if (findSpace != null) space = findSpace.value
        }
      }
      return space
    },
    getStatusTagType (status) {
      let tagType = 'gray'
      switch (status) {
        case 'started': {
          tagType = 'primary'
          break
        }
        case 'succeeded': {
          tagType = 'success'
          break
        }
        case 'failed': {
          tagType = 'danger'
          break
        }
        case 'pending': {
          tagType = 'warning'
          break
        }
      }
      return tagType
    },
    selectRow (row, event, column) {
      this.curBld = row
      this.getStages()
    },
    selectRowHL (row, index) {
      if (this.curBld != null && row.id === this.curBld.id) {
        return 'sel-row'
      }
    },
    getStages () {
      let curBld = this.curBld
      let bldHst = this
      let p = new Promise((resolve, reject) => {
        if (curBld != null) {
          stgAPI.listStageWithBld(curBld.id).then(resp => {
            bldHst.stageInfos = resp.data
          })
        }
        resolve('OK')
      })
      return p
    },
    getBuilds () {
      let bldHst = this
      let p = new Promise((resolve, reject) => {
        bldAPI.listBuild(this.curPpl.id, 0, 5).then(builds => {
          bldHst.buildInfos = builds.data
          this.getStages().then(() => {
            resolve('OK')
          })
        })
      })
      return p
    },
    refreshFun () {
      return this.getBuilds()
    }
  }
}
</script>

<style lang="scss">
@import "../../style/iconfont.scss";
@import "../../style/devops-color.scss";

.ppl_bldhist_container{
  border: 1px solid $dvs-cl-div-border;
  border-radius: 4px;
  padding: 0px 15px;
  .el-row{
    margin: 10px;
  }
}

.el-table {
  .sel-row {
    background: #c9e5f5;
  }
}
</style>
