<template>
  <div class="ppl_cfg_container">
    <el-row type="flex" justify="start" align="middle" :gutter="20">
      <el-col :span="2">
        <label>GitUrl:</label>
      </el-col>
      <el-col :span="22">
        <label>{{this.curPpl.gitUrl}}</label>
      </el-col>
    </el-row>
    <el-row type="flex" justify="start" align="middle" :gutter="20">
      <el-col :span="2">
        <label>Pipeline Version:</label>
      </el-col>
      <el-col :span="22">
        <label>{{curPplVersion}}</label>
      </el-col>
    </el-row>
    <el-row type="flex" justify="start" align="middle" :gutter="20">
      <el-col :span="2">
        <label>Description:</label>
      </el-col>
      <el-col :span="22">
        <label>{{this.curPpl.description}}</label>
      </el-col>
    </el-row>
    <el-row type="flex" justify="start" align="middle" :gutter="20">
      <el-col :span="2">
        <label>Paramters:</label>
      </el-col>
      <el-col :span="22">
        <el-select 
          v-model="curParam.type"
          @change="paramTypeChange" 
          size="small" 
          placeholder="Please select">
          <el-option v-for="pType in paramTypes" :key="pType" :value="pType">
            <span style="font-size: 13px">{{pType}}</span>
          </el-option>
        </el-select>
      </el-col>
    </el-row>
    <el-row type="flex" justify="start" align="middle" :gutter="20">
      <el-col :offset="2" :span="1.5"><label>name:</label></el-col>
      <el-col :span="6"><el-input v-model="curParam.name" size="small"></el-input></el-col>
      <el-col :span="1.5">
        <label>value:</label>
      </el-col>
      <el-col :span="9">
        <el-input v-if="curParam.type.toLowerCase()===stringType" v-model="curParam.value" size="small"></el-input>
        <el-switch v-if="curParam.type.toLowerCase()===boolType" v-model="curParam.value"
          on-text="true"
          off-text="false" 
          on-value="true"
          off-value="false"
          on-color="#13ce66"
          off-color="#ff4949">
        </el-switch>
        <el-input v-if="curParam.type.toLowerCase()===passwordType" 
          v-model="curParam.value" 
          type="password" 
          size="small">
        </el-input>
        <el-select 
          v-if="curParam.type.toLowerCase()===cfCredType" 
          v-model="curParam.value" 
          size="small" 
          placeholder="Please select">
          <el-option v-for="cfCred in cfCreds" :key="cfCred.id" :value="cfCred.id.toString()" :label="cfCred.name">
            <div class="cfg_params_cred_sel">
              <span style="font-size: 13px">{{cfCred.name}}</span>
              <el-tooltip effect="dark" 
                :content="cfCred.description" 
                placement="top">
                <span style="font-size: 13px"><i class="iconfont icon-ask"></i></span>
              </el-tooltip>
            </div>
          </el-option>
        </el-select>
        <el-select 
          v-if="curParam.type.toLowerCase()===gitCredType" 
          v-model="curParam.value" 
          size="small" 
          placeholder="Please select">
          <el-option v-for="gitCred in gitCreds" :key="gitCred" :value="gitCred">
            <span style="font-size: 13px">{{gitCred}}</span>
          </el-option>
        </el-select> 
      </el-col>
      <el-col :span="1">
        <el-tooltip effect="dark"
          :disabled="hasEditPower" 
          content="No permission" 
          placement="top">
          <span>
          <el-button @click="paramAdd"
            :disabled="!hasEditPower" 
            type="text" 
            size="small">
            <i class="el-icon-plus"></i>
          </el-button>
        </span>
        </el-tooltip>
      </el-col>
    </el-row>
    <el-row v-if="curParams.length > 0" type="flex" justify="start" align="middle" :gutter="20">
      <el-col :offset="2" :span="20">
        <el-table 
          class="cfg_params_table"
          tooltip-effect="dark"
          border
          stripe
          :data="curParams">
          <el-table-column 
            prop="name"
            label="Name"
            min-width="120"
            show-overflow-tooltip>
          </el-table-column> 
          <el-table-column 
            label="Value"
            min-width="220">
            <template scope="scope">
              <span v-if="!scope.row.isEdit">
                {{displayParamValue(scope.row)}}
              </span>
              <el-input v-if="scope.row.isEdit && scope.row.type.toLowerCase() === stringType" 
                v-model="scope.row.value">
              </el-input>
              <el-switch v-if="scope.row.isEdit && scope.row.type.toLowerCase() === boolType"
                v-model="scope.row.value"
                on-text="true"
                off-text="false" 
                on-value="true"
                off-value="false"
                on-color="#13ce66"
                off-color="#ff4949">
              </el-switch>
              <el-input v-if="scope.row.isEdit && scope.row.type.toLowerCase() === passwordType" 
                v-model="scope.row.value" 
                type="password" 
                size="small">
              </el-input>
              <el-select 
                v-if="scope.row.isEdit && scope.row.type.toLowerCase() === cfCredType" 
                v-model="scope.row.value" 
                size="small" 
                placeholder="Please select">
                <el-option v-for="cfCred in cfCreds" :key="cfCred.id" :value="cfCred.id.toString()" :label="cfCred.name">
                  <div class="cfg_params_cred_sel">
                    <span style="font-size: 13px">{{cfCred.name}}</span>
                    <el-tooltip effect="dark" 
                      :content="cfCred.description" 
                      placement="top">
                      <span style="font-size: 13px"><i class="iconfont icon-ask"></i></span>
                    </el-tooltip>
                  </div>
                </el-option>
              </el-select>
              <el-select 
                v-if="scope.row.isEdit && scope.row.type.toLowerCase() === gitCredType" 
                v-model="scope.row.value" 
                size="small" 
                placeholder="Please select">
                <el-option v-for="gitCred in gitCreds" :key="gitCred" :value="gitCred">
                  <span style="font-size: 13px">{{gitCred}}</span>
                </el-option>
              </el-select> 
            </template>
          </el-table-column> 
          <el-table-column 
            prop="type"
            label="Type"
            min-width="100">
          </el-table-column>  
          <el-table-column 
            label="Operate"
            align="center"
            min-width="80">
            <template scope="scope">
              <el-button 
                @click="paramDelete(scope.row, scope.$index)" 
                type="text" 
                size="small" 
                v-if="scope.row.isEdit"
                class="el-icon-delete2">
              </el-button>
              <el-tooltip effect="dark"
                :disabled="hasEditPower" 
                content="No permission" 
                placement="top">
                <span>
                <el-button 
                  @click="paramEdit(scope.row)" 
                  type="text" 
                  size="small"
                  :disabled="scope.row.isEdit || !hasEditPower" 
                  class="el-icon-edit">
                </el-button>
              </span>
              </el-tooltip>
              <el-button
                v-show="scope.row.isEdit" 
                @click="paramConfirm(scope.row)" 
                type="text" 
                size="small" 
                class="el-icon-check">
              </el-button>
            </template>
          </el-table-column> 
        </el-table>
      </el-col>
    </el-row>
    <el-row v-if="curParams.length > 0 || !disableApply" type="flex" justify="start" :gutter="20">
      <el-col :offset="19" :span="3">
        <div class="ppl_cfg_oprt">
          <el-tooltip effect="dark"
            :disabled="hasEditPower" 
            content="No permission" 
            placement="top">
            <span>
            <el-button @click="paramsApply"
              :loading="paramsApplying" 
              :disabled="disableApply || !hasEditPower">
              Apply
            </el-button> 
            </span>
          </el-tooltip>
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import {mapState, mapGetters, mapMutations, mapActions} from 'vuex'
import refreshMixin from '@/js/mixin/refresh'
import uiAuthMixin from '@/js/mixin/uiAuth'
import { pplAPI } from '@/api/restfulAPI'
import * as glbData from '@/js/globalData'
import * as uiAuthData from '@/js/uiAuthProcess'

export default {
  name: 'dvs-ppl-config',
  mixins: [refreshMixin, uiAuthMixin],
  data () {
    return {
      editPplAuthMask: uiAuthData.PPL_EDIT_AUTH_MASK,
      pageName: glbData.PPL_CONFIG,
      gitCredType: glbData.GIT_CRED_TYPE,
      cfCredType: glbData.CF_CRED_TYPE,
      stringType: glbData.STRING_TYPE,
      boolType: glbData.BOOLEAN_TYPE,
      passwordType: glbData.PASSWORD_TYPE,
      refreshInterval: 5000,
      disableApply: true,
      paramsApplying: false,
      curParams: [],
      curParam: {
        name: '',
        value: '',
        type: glbData.STRING_TYPE
      }
    }
  },
  mounted () {
    this.curParams = this.getCurParams()
  },
  watch: {
    curPpl (val) {
      this.curParam = {
        name: '',
        value: '',
        type: this.stringType
      }
      this.curParams = this.getCurParams()
      this.disableApply = true
    },
    curPage (curPage) {
      this.refreshFlag = (curPage === this.pageName)
    }
  },
  computed: {
    ...mapState([
      'user'
    ]),
    ...mapGetters([
      'curPage'
    ]),
    ...mapState('pipeline', [
      'curPpl',
      'paramTypes',
      'gitCreds'
    ]),
    ...mapGetters('pipeline', [
      'cfCreds'
    ]),
    curPplVersion () {
      if (this.curPpl.builds != null && this.curPpl.builds.length > 0) {
        return this.curPpl.builds[0].pipelineVersion
      } else return '0.0.0'
    },
    defGitCred () {
      if (this.gitCreds != null && this.gitCreds.length > 0) return this.gitCreds[0]
      else return ''
    },
    defCFCred () {
      if (this.cfCreds != null && this.cfCreds.length > 0) return this.cfCreds[0].id.toString()
      else return ''
    },
    hasEditPower () {
      return this.checkUIAuth(this.user.role, this.editPplAuthMask)
    }
  },
  methods: {
    ...mapMutations([
      'setCurMsg'
    ]),
    ...mapMutations('pipeline', [
      'setCurPpl',
      'setPplManualRefresh'
    ]),
    ...mapActions([
      'getUserCreds'
    ]),
    checkDisableApply () {
      let bRet = false
      if (this.curPpl.parameters != null) {
        let paramsStr = (typeof this.curPpl.parameters === this.stringType)
          ? this.curPpl.parameters : JSON.stringify(this.curPpl.parameters)
        let curParamsStr = JSON.stringify(this.curParams)
        bRet = (curParamsStr === paramsStr)
      }
      return bRet
    },
    getCurParams () {
      if (this.curPpl != null && this.curPpl.parameters != null) {
        let curParamsStr = JSON.stringify(this.curPpl.parameters)
        let arry = JSON.parse(curParamsStr)
        return [...arry]
      } else return []
    },
    paramDelete (param, index) {
      this.curParams.splice(index, 1)
      this.disableApply = this.checkDisableApply()
    },
    paramAdd () {
      if (this.curParam.name.length > 0 && this.curParam.value !== null) {
        let findParam = this.curParams.find(param => {
          return param.name === this.curParam.name &&
            param.type.toLowerCase() === this.curParam.type.toLowerCase()
        })
        if (findParam == null) this.curParams.push({...this.curParam})
        else {
          let msg = {
            message: `Parameter ${this.curParam.name} (${this.curParam.type}) is exist.`,
            type: 'warning'
          }
          this.setCurMsg(msg)
        }
      }
      this.curParam = {
        name: '',
        value: '',
        type: this.stringType
      }
      this.disableApply = this.checkDisableApply()
    },
    displayParamValue (param) {
      let value = (param.type === this.passwordType ? '......' : param.value.toString())
      if (param.type === this.passwordType) value = '......'
      else if (param.type === this.cfCredType) {
        value = param.value.toString()
        for (let i = 0; i < this.cfCreds.length; i++) {
          if (this.cfCreds[i].id.toString() === param.value) {
            value = this.cfCreds[i].name
            break
          }
        }
      } else {
        value = param.value.toString()
      }
      return value
    },
    paramEdit (param) {
      param.isEdit = true
      this.curParams = [...this.curParams]
    },
    paramConfirm (param) {
      delete param.isEdit
      this.curParams = [...this.curParams]
      this.disableApply = this.checkDisableApply()
    },
    paramTypeChange (paramType) {
      this.curParam.name = ''
      if (paramType === this.cfCredType) {
        this.curParam.name = 'cf_credential'
        this.curParam.value = this.defCFCred
      } else if (paramType === this.gitCredType) {
        this.curParam.name = 'git_credential'
        this.curParam.value = this.defGitCred
      } else {
        this.curParam.value = ''
      }
    },
    paramsApply () {
      this.paramsApplying = true
      pplAPI.applyPplParams(this.curPpl.id, this.curParams).then((data) => {
        this.paramsApplying = false
        this.disableApply = true
        this.setPplManualRefresh(1)
        let msg = {
          message: `Apply pipeline ${this.curPpl.name} paramters success`,
          type: 'success'
        }
        this.setCurMsg(msg)
      }).catch((error) => {
        this.paramsApplying = false
        if (error.data.errorMsg != null && error.data.errorMsg.length > 0) {
          let msg = {
            message: `Apply pipeline ${this.curPpl.name} paramters failed, cause: ${error.data.errorMsg}`,
            type: 'error'
          }
          this.setCurMsg(msg)
        }
      })
    },
    refreshFun () {
      this.getUserCreds()
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../style/iconfont.scss";
@import "../../style/devops-color.scss";

.ppl_cfg_container{
  border: 1px solid $dvs-cl-div-border;
  border-radius: 4px;
  padding: 0px 20px;
  .el-row{
    margin: 20px 0px;
  }
  .ppl_cfg_oprt{
    display: flex;
    justify-content: flex-end;
  }
}

.cfg_params_cred_sel{
  display: flex;
  justify-content: space-between;
}
</style>
