<template>
  <div class="ppl_container">
    <div class="ppl_toolbar">
      <span>{{curWsp.name}}</span>
      <span>&nbsp;/&nbsp;</span>
      <el-dropdown @command="handlePrjCmd">
        <span class="el-dropdown-link">
          {{curPrjName}}
          <i class="el-icon-caret-bottom el-icon--right"></i>
        </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item class="dropdown-item" command="0">{{defPrjName}}</el-dropdown-item>
          <el-dropdown-item class="dropdown-item"
            v-for="item in activePrjs" 
            :key="item"
            :command="item.id.toString()"
            divided>
            {{item.name}}
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <el-tooltip effect="dark" 
        :disabled="!(curSelPrjId===0) && hasEditPower" 
        :content="hasEditPower ? 'Please specify a project' : 'No permission'" 
        placement="top">
        <span>          
          <el-button size="small" 
            :disabled="curSelPrjId===0 || !hasEditPower" 
            @click="pplAdd">
            <i class="el-icon-plus"></i>
            &nbsp;Add
          </el-button>              
        </span>
      </el-tooltip>
    </div>
    <el-table class="ppl_content_table" 
      ref="pplsTable" 
      tooltip-effect="dark" 
      stripe height="300" 
      :data="curPpls" 
      :row-key="rowKey" 
      :expand-row-keys="expandRows" 
      @expand="pplExpand">
      <el-table-column label="Active" min-width="60">
        <template scope="scope">
          <el-checkbox :value="scope.row.active"></el-checkbox>
        </template>
      </el-table-column>
      <el-table-column prop="name" label="Name" sortable min-width="240" show-overflow-tooltip>
      </el-table-column>
      <el-table-column v-if="curSelPrjId===0" prop="projectName" label="Project" min-width="120">
      </el-table-column>
      <el-table-column v-if="false" prop="executor" label="Executor" min-width="120">
      </el-table-column>
      <el-table-column label="Status" min-width="80">
        <template scope="scope">
          <div>
            <img v-if="!(scope.row.lastBuild===null)" align="left" :alt="tip = getStatusTip(scope.row)" :title="tip"
              :src="getStatusIcon(scope.row)"/>
            <span v-if="!(scope.row.lastBuild===null)">
              <!--
              <a href="javascript:void(!hasEditPower);" @click="viewLastBldLog(scope.row.lastBuild.id)">#{{scope.row.lastBuild.index}}</a>
              -->
              <el-button type="text" @click="viewLastBldLog(scope.row.lastBuild.id)" :disabled="!hasEditPower">
                #{{scope.row.lastBuild.index}}
              </el-button>
            </span>
            <span v-if="scope.row.lastBuild===null">N/A</span>
          </div>
        </template>
      </el-table-column>
      <el-table-column label="Duration" min-width="200">
        <template scope="scope">
          <div>
            <span v-if="scope.row.lastBuild===null">N/A</span>
            <span v-if="!(scope.row.lastBuild===null)">
              {{lastBuildDuration(scope.row.lastBuild)}}
            </span>
          </div>
        </template>
      </el-table-column>
      <el-table-column label="Operate" align="center" min-width="80">
        <template scope="scope"> 
          
          <el-button @click="pplPreRun(scope.row)" 
            :disabled=false
            type="text" 
            size="small" 
            class="iconfont icon-run">
          </el-button>
          
          <el-tooltip effect="dark"
            :disabled="hasEditPower" 
            content="No permission" 
            placement="top">
            <span style="display: inline-block;margin:0 5px;">
            <el-button  @click="pplEdit(scope.row)" 
              :disabled="!hasEditPower" 
              type="text" 
              size="small" 
              class="el-icon-edit">
            </el-button>
            </span>
          </el-tooltip>
          <el-tooltip effect="dark"
            :disabled="hasEditPower"  
            :content="hasEditPower ? 'Copy webhook' : 'No permission'" 
            placement="top">
            <span>
            <el-button
              :disabled="!hasEditPower"
              type="text" 
              size="small" 
              class="iconfont icon-copy"
              v-clipboard="makeWebHook(scope.row)"
              v-clipboard:success="webHookCopied">
            </el-button>
            </span>
          </el-tooltip>
        </template>
      </el-table-column>
      <el-table-column type="expand">        
        <template scope="props">
          <keep-alive>
            <router-view></router-view>
          </keep-alive>
        </template>        
      </el-table-column>
    </el-table>
    <el-pagination class="ppl_pages" 
      @current-change="handleCurPageChange" 
      :current-page.sync="curPageNum" 
      :page-size="papeSize" 
      layout="total, prev, pager, next" 
      :total="pplTotalSize">
    </el-pagination>
    <dvs-ppl-editer :isShow="editPplDlgShow" 
      :oprtType="editPplOprt" 
      :pplInfo="editPplInfo" 
      @editOk="pplEditOk" 
      @editCancel="pplEditCancel">
    </dvs-ppl-editer>
    <el-dialog :title="runParams.title" :visible.sync="runParams.isShow" :show-close="false">      
      <el-form label-position="left" v-model="runParams">
        <el-form-item 
        v-for="param in runParams.parameters"
        :key="param" 
        :label="`${param.name}:`"
        :label-width="calcuLableWidth()">
          <el-input v-if="param.type.toLowerCase() === stringType" v-model="param.value"></el-input>
          <el-switch v-show="param.type.toLowerCase() === boolType"
            :value="param.value.toLowerCase() === 'true'"
            @change="(val)=>{param.value = val ? 'true' : 'false'}"
            on-text="true"
            off-text="false" 
            on-color="#13ce66"
            off-color="#ff4949">
          </el-switch>
          <el-input v-if="param.type.toLowerCase() === passwordType" 
            v-model="param.value" 
            type="password" 
            size="small">
          </el-input>
          <el-select v-if="param.type.toLowerCase() === gitCredType"
            v-model="param.value" placeholder="Please input">
            <el-option v-for="gitCred in gitCreds" :key="gitCred" :value="gitCred">
              <span style="font-size: 13px">{{gitCred}}</span>
            </el-option>
          </el-select>
          <el-select v-if="param.type.toLowerCase() === cfCredType"
            v-model="param.value" placeholder="Please input">
            <el-option v-for="cfCred in cfCreds" :key="cfCred.id" :value="cfCred.id.toString()" :label="cfCred.name">
              <span style="font-size: 13px">{{cfCred.name}}</span>
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>    
       <div slot="footer" class="dialog-footer">
        <el-button @click="pplCancel">Cancel</el-button>
        <el-button type="primary" @click="pplRun">OK</el-button>
      </div> 
    </el-dialog>
  </div>
</template>

<script>
import {mapState, mapGetters, mapMutations, mapActions} from 'vuex'
import refreshMixin from '@/js/mixin/refresh'
import uiAuthMixin from '@/js/mixin/uiAuth'
import moment from 'moment'
require('moment-precise-range-plugin')
import dvsPplEditer from './PplEditer'
import {pplAPI, bldAPI} from '@/api/restfulAPI'
import * as glbData from '@/js/globalData'
import * as uiAuthData from '@/js/uiAuthProcess'

export default {
  name: 'dvs-pipeline',
  components: { dvsPplEditer },
  mixins: [refreshMixin, uiAuthMixin],
  data () {
    return {
      editPplAuthMask: uiAuthData.PPL_EDIT_AUTH_MASK,
      pageName: glbData.PPL_MAIN,
      gitCredType: glbData.GIT_CRED_TYPE,
      cfCredType: glbData.CF_CRED_TYPE,
      stringType: glbData.STRING_TYPE,
      boolType: glbData.BOOLEAN_TYPE,
      passwordType: glbData.PASSWORD_TYPE,
      refreshInterval: 2000,
      defPrjName: 'All',
      defPrjId: 0,
      runParams: {
        title: '',
        isShow: false,
        parameters: []
      },
      curPageNum: 1,
      papeSize: 15,
      expandRows: [],
      editPplDlgShow: false,
      editPplOprt: '',
      editPplInfo: {
        active: true,
        name: '',
        url: '',
        branch: 'master',
        description: ''
      },
      editPpl: null
    }
  },
  props: {
    prjId: {
      type: Number,
      default: 0,
      require: false
    }
  },
  // Refresh page reconfirm current pipeline and expend rows
  mounted () {
    if (this.$route.name === glbData.PPL_BUILDHISTORY || this.$route.name === glbData.PPL_CONFIG) {
      let startIndex = this.papeSize * (this.curPageNum - 1)
      let count = this.papeSize
      let prjId = this.curSelPrjId
      this.getPpls({prjId, startIndex, count}).then(() => {
        let pplId = parseInt(this.$route.params.pplId)
        this.setCurPpl(pplId)
        this.expandRows = [pplId]
      })
    }
    // this.setCurSelPrj(this.prjId)
  },
  watch: {
    curPage (curPage) {
      // When click pipeline menu-item fold rows
      if (curPage === this.pageName) {
        this.setCurPpl(0)
        this.expandRows = []
      }
      // Check refresh
      let moduleName = glbData.belongModule(curPage)
      this.refreshFlag = (moduleName === glbData.PPL_MODULE_NAME)
    },
    // Go forward or back reconfirm current pipeline and expend rows
    $route (to, form) {
      if (to.name === glbData.PPL_BUILDHISTORY || to.name === glbData.PPL_CONFIG) {
        let pplId = parseInt(to.params.pplId)
        let startIndex = this.papeSize * (this.curPageNum - 1)
        let count = this.papeSize
        let prjId = this.curSelPrjId
        this.getPpls({prjId, startIndex, count}).then(() => {
          this.setCurPpl(pplId)
          if (this.curPpl == null) {
            this.setCurPpl(0)
            this.expandRows = []
          } else this.expandRows = [this.curPpl.id]
        })
      }
    },
    curPpls () {
      if (this.expandRows.length > 0) this.expandRows = [...this.expandRows]
    },
    expandRows (val) {
      // Expend rows is empty then replace route with pipelien main
      if (val.length === 0) {
        this.$router.replace({ name: glbData.PPL_MAIN, params: { prjId: this.curSelPrjId } })
      }
    },
    manualRefresh (val) {
      if (val === 1) {
        let startIndex = this.papeSize * (this.curPageNum - 1)
        let count = this.papeSize
        let prjId = this.curSelPrjId
        this.getPpls({prjId, startIndex, count})
      }
    },
    curSelPrjId (val) {
      let startIndex = this.papeSize * (this.curPageNum - 1)
      let count = this.papeSize
      let prjId = val
      this.getPpls({prjId, startIndex, count})
    }
  },
  computed: {
    ...mapState([
      'curWsp',
      'activePrjs',
      'user',
      'manualRefresh'
    ]),
    ...mapState('pipeline', [
      'curPpls',
      'pplTotalSize',
      'curPpl',
      'gitCreds'
    ]),
    ...mapGetters([
      'curPage'
    ]),
    ...mapGetters('pipeline', [
      'cfCreds'
    ]),
    curSelPrjId () {
      return this.prjId
    },
    curPrjName () {
      let prjName = this.defPrjName
      this.activePrjs.find((prj) => {
        if (prj.id === this.curSelPrjId) {
          prjName = prj.name
          return true
        }
      })
      // when current active project setted to deactive then set default project 'All'
      if (prjName === this.defPrjName && this.curSelPrjId !== this.defPrjId) {
        this.$router.push({name: this.$route.name, params: {prjId: this.defPrjId}})
      }
      return prjName
    },
    locationPathName () {
      return window.location.pathname
    },
    hasEditPower () {
      return this.checkUIAuth(this.user.role, this.editPplAuthMask)
    }
  },
  methods: {
    ...mapMutations([
      'setCurMsg'
    ]),
    ...mapMutations('pipeline', [
      'setCurPpl'
    ]),
    ...mapActions('pipeline', [
      'getPpls'
    ]),
    ...mapActions([
      'getUserCreds'
    ]),
    handlePrjCmd (command) {
      let id = parseInt(command)
      this.$router.push({name: this.$route.name, params: {prjId: id}})
    },
    pplAdd () {
      this.refreshFlag = false
      this.editPplOprt = 'Add'
      this.editPplDlgShow = true
    },
    pplEdit (itemData) {
      this.refreshFlag = false
      this.editPrj = itemData
      this.editPplInfo.active = itemData.active
      this.editPplInfo.name = itemData.name
      this.editPplInfo.url = itemData.gitUrl
      this.editPplInfo.branch = itemData.branch
      this.editPplInfo.description = itemData.description
      this.editPplOprt = 'Edit'
      this.editPplDlgShow = true
    },
    pplEditOk () {
      this.editPplDlgShow = false
      if (this.editPplInfo.name.length !== 0) {
        if (this.editPplOprt === 'Add') {
          this.postPpl(this.editPplInfo.name,
            this.editPplInfo.url,
            this.editPplInfo.branch,
            this.editPplInfo.description,
            this.editPplInfo.active)
        } else if (this.editPrj) {
          this.putPpl(this.editPrj.id,
            this.editPplInfo.name,
            this.editPplInfo.url,
            this.editPplInfo.branch,
            this.editPplInfo.description,
            this.editPplInfo.active)
          this.editPrj = null
        }
      }
      this.editPplInfo.name = ''
      this.editPplInfo.url = ''
      this.editPplInfo.branch = 'master'
      this.editPplInfo.description = ''
      this.editPplInfo.active = true
    },
    pplEditCancel () {
      this.editPplInfo.name = ''
      this.editPplInfo.url = ''
      this.editPplInfo.branch = 'master'
      this.editPplInfo.description = ''
      this.editPplInfo.active = true
      this.editPplDlgShow = false
      this.refreshFlag = true
    },
    postPpl (name, gitUrl, branch, desc, active) {
      pplAPI.addPpl(this.curSelPrjId, { name, gitUrl, branch, desc, active }).then(data => {
        let msg = {
          message: `Add ${name} pipeline success`,
          type: 'success'
        }
        this.setCurMsg(msg)
        this.refreshFlag = true
      }).catch(error => {
        if (error.data != null &&
            error.data.errorMsg != null &&
            error.data.errorMsg.length > 0) {
          let msg = {
            message: `Add ${name} pipeline failed, cause: ${error.data.errorMsg}`,
            type: 'error'
          }
          this.setCurMsg(msg)
          this.refreshFlag = true
        }
      })
    },
    putPpl (id, name, gitUrl, branch, desc, active) {
      pplAPI.updatePpl(this.curSelPrjId, { id, name, gitUrl, branch, desc, active }).then(data => {
        this.refreshFlag = true
      }).catch(error => {
        this.refreshFlag = true
        console.log(`${error}`)
      })
    },
    pplPreRun (ppl) {
      let params = []
      params = ppl.parameters
      if (typeof params === 'string') params = JSON.parse(params)
      this.runParams.title = `Confirm parameters - ${ppl.name}`
      this.runParams.parameters = [...params]
      this.runParams.id = ppl.id
      this.runParams.name = ppl.name
      this.runParams.jobName = ppl.jobName
      this.runParams.isShow = true
    },
    pplCancel () {
      this.runParams.isShow = false
      this.runParams.parameters = []
    },
    pplRun () {
      this.runParams.isShow = false
      bldAPI.execBuild(this.runParams.id, this.runParams.jobName, this.runParams.parameters).then(data => {
      // bldAPI.addAndExecBuild(this.runParams.id, this.runParams.jobName, this.runParams.parameters).then(data => {
      }).catch(error => {
        if (error.data != null &&
          error.data.errorMsg != null &&
          error.data.errorMsg.length > 0) {
          let msg = {
            message: `Excute pipeline ${this.runParams.name} failed, cause: ${error.data.errorMsg}`,
            type: 'error'
          }
          this.setCurMsg(msg)
        }
      })
    },
    rowKey (row) {
      return row.id
    },
    pplExpand (row, expanded) {
      if (expanded === true) {
        this.setCurPpl(row.id)
        this.expandRows = [row.id]
        this.$router.replace({name: glbData.PPL_DETAIL, params: {prjId: this.curSelPrjId, pplId: `${row.id}`}})
      } else {
        this.expandRows = []
        this.setCurPpl(0)
      }
    },
    handleCurPageChange (pageNum) {
      if (pageNum > 0) {
        let startIndex = this.papeSize * (pageNum - 1)
        let count = this.papeSize
        let prjId = this.curSelPrjId
        this.getPpls({prjId, startIndex, count})
      }
    },
    updateTSFormat (row, column) {
      let updateTs = moment(row.updateTs).format('YYYY-MM-DD HH:mm:ss')
      return updateTs
    },
    lastBuildDuration (build) {
      let tsCrtM = moment(build.createTs)
      let tsUpdM = moment(build.updateTs)
      let duration = `${moment.preciseDiff(tsCrtM, tsUpdM)}`
      return duration
    },
    viewLastBldLog (bldId) {
      bldAPI.getBuildLog(bldId).then(data => {
        if (data != null && data.length > 0) {
          let bldLog = `<pre>${data}</pre>`
          glbData.openWindow(`BuildLog-#${bldId}`, null, bldLog)
        } else {
          let msg = {
            message: `Build #${bldId} not have log!`,
            type: 'warning'
          }
          this.setCurMsg(msg)
        }
      }).catch(error => {
        if (error.data != null &&
          error.data.errorMsg != null &&
          error.data.errorMsg.length > 0) {
          let msg = {
            message: `Get build ${bldId} log failed, cause: ${error.data.errorMsg}`,
            type: 'error'
          }
          this.setCurMsg(msg)
        }
      })
    },
    makeWebHook (ppl) {
      let hostname = window.location.hostname.replace('portal', 'api')
      let origin = window.location.protocol + '//' + hostname + (window.location.port ? ':' + window.location.port : '')
      let webHook = `${origin}${window.location.pathname}buildcontroller/webhook?pipelineId=${ppl.id}`
      return webHook
    },
    webHookCopied (e) {
      let msg = {
        message: `Copy webhook: ${e.text} to clipboard success`,
        type: 'info'
      }
      this.setCurMsg(msg)
    },
    getStatusTip (ppl) {
      let title = 'Not built'
      switch (ppl.lastBuild.status) {
        case 'succeeded': {
          title = 'Success'
          break
        }
        case 'failed': {
          title = 'Failed'
          break
        }
        case 'pending': {
          title = 'Pending'
          break
        }
      }
      return title
    },
    getStatusIcon (ppl) {
      let icon = ''
      // let runningFlag = ppl.status === 'busy'
      switch (ppl.lastBuild.status) {
        case 'succeeded': {
          // if (runningFlag) icon = require('../../assets/images/blue_anime.gif')
          // else icon = require('../../assets/images/blue.png')
          icon = require('../../assets/images/blue.png')
          break
        }
        case 'failed': {
          // if (runningFlag) icon = require('../../assets/images/red_anime.gif')
          // else icon = require('../../assets/images/red.png')
          icon = require('../../assets/images/red.png')
          break
        }
        case 'pending': {
          // if (runningFlag) icon = require('../../assets/images/yellow_anime.gif')
          // else icon = require('../../assets/images/yellow.png')
          icon = require('../../assets/images/yellow.png')
          break
        }
        default: {
          // if (runningFlag) icon = require('../../assets/images/grey_anime.gif')
          // else icon = require('../../assets/images/grey.png')
          icon = require('../../assets/images/grey.png')
          break
        }
      }
      return icon
    },
    calcuLableWidth () {
      let width = 120
      if (this.runParams.parameters.length > 0) {
        let tmpW = 0
        for (let param of this.runParams.parameters) {
          if (param.name.length > tmpW) tmpW = param.name.length
        }
        tmpW = tmpW * 10 - 20
        if (tmpW > width) width = tmpW
      }
      return `${width}px`
    },
    refreshFun () {
      this.getUserCreds()
      this.handleCurPageChange(this.curPageNum)
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../style/iconfont.scss";
@import "../../style/devops-color.scss";

.ppl_container {
  $toolbarH: 45px;
  $pagesH: 40px;
  padding: 0px 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  .ppl_toolbar {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    background-color: $dvs-cl-toolbar-bk;
    height: $toolbarH;
    margin-top: 5px;
    padding-left: 20px;
  }

  .ppl_content_table {
    flex-grow: 1;
    margin-top: 5px;
    width: 100%;
  }

  .ppl_pages {
    flex-shrink: 0;
    height: $pagesH;
    text-align: center;
    margin-top: 10px;
  }
}

.el-table__expanded-cell{
  padding: 20px
}

.el-dropdown-menu{
  max-height: 300px;
  overflow:auto;
  font-size: 14px;
  border-radius: 4px;
  .dropdown-item{
    margin: 0;
    line-height:28px;
  }
}
</style>

