<template>
  <el-tabs v-model="activeTab" type="card" @tab-click="handleClick">
    <el-tab-pane label="BuildHistory" name="bld">   
    </el-tab-pane>
    <el-tab-pane label="Configuration" name="cfg">
    </el-tab-pane>
    <keep-alive>
      <router-view ></router-view>
    </keep-alive>
  </el-tabs>
</template>

<script>
import * as glbData from '@/js/globalData'

export default {
  name: 'dvs-ppl-detail',
  data () {
    return {
      activeTab: 'bld'
    }
  },
  mounted () {
    if (this.$route.name === glbData.PPL_BUILDHISTORY) {
      this.activeTab = 'bld'
    } else if (this.$route.name === glbData.PPL_CONFIG) {
      this.activeTab = 'cfg'
    }
  },
  watch: {
    $route (to, from) {
      if (to.name === glbData.PPL_BUILDHISTORY) {
        this.activeTab = 'bld'
      } else if (to.name === glbData.PPL_CONFIG) {
        this.activeTab = 'cfg'
      }
    }
  },
  methods: {
    handleClick (tab, event) {
      if (this.activeTab === 'cfg') {
        this.$router.push({name: glbData.PPL_CONFIG})
      } else this.$router.push({name: glbData.PPL_BUILDHISTORY})
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
