<template>
  <el-dialog size="small" :title="title" :visible.sync="isShow" :show-close="false">
    <el-form label-position="left" label-width="80px">
      <el-form-item label="Active:">
        <el-checkbox 
          v-model="pplInfo.active">
        </el-checkbox>
      </el-form-item>
      <el-form-item label="Name:">
        <el-input class="ppl_name_input"
          v-model="pplInfo.name"
          placeholder="Please input">
        </el-input>
      </el-form-item>
      <el-form-item label="Url:">
        <el-input class="ppl_url_input"
          v-model="pplInfo.url"
          placeholder="Please input">
        </el-input>
      </el-form-item>
      <el-form-item label="Branch:">
        <el-input class="ppl_branch_input"
          v-model="pplInfo.branch"
          placeholder="Please input">
        </el-input>
      </el-form-item>
      <el-form-item label="Description:">
        <el-input class="ppl_branch_desc"
          type="textarea"
          v-model="pplInfo.description"
          placeholder="Please input">
        </el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="editCancel">Cancel</el-button>
      <el-button type="primary" @click="editOK">OK</el-button>
    </div>
  </el-dialog>
</template>

<script>
export default {
  name: 'dvs-ppl-editer',
  props: {
    isShow: {
      type: Boolean,
      required: true
    },
    oprtType: {
      type: String,
      required: false,
      default: 'Add'
    },
    pplInfo: {
      type: Object,
      required: false,
      default: {
        active: true,
        name: '',
        url: ''
      }
    }
  },
  computed: {
    title () {
      let title = ''
      if (this.oprtType === 'Edit') title = 'Edit Pipeline'
      else title = 'Add Pipeline'
      return title
    }
  },
  methods: {
    editOK () {
      this.$emit('editOk')
    },
    editCancel () {
      this.$emit('editCancel')
    }
  }
}
</script>

<style lang="scss" scoped>
  .ppl_name_input{
    width: 50%
  }
  .ppl_branch_input {
    width: 50%
  }
  .ppl_url_input {
    width: 100%
  }
</style>
