.el-progress-bar__inner:after{
  display:inline-block;
  content:"";
  height:100%;
  vertical-align:middle;
}@charset "UTF-8";
:root{
  /* Transition
  -------------------------- */
  /* Colors
  -------------------------- */
  /* Link
  -------------------------- */
  /* Border
  -------------------------- */
  /* Box-shadow
  -------------------------- */
  /* Fill
  -------------------------- */
  /* Font
  -------------------------- */
  /* Size
  -------------------------- */
  /* z-index
  -------------------------- */
  /* Disable base
  -------------------------- */
  /* Icon
  -------------------------- */
  /* Checkbox
  -------------------------- */
  /* Radio
  -------------------------- */
  /* Select
  -------------------------- */
  /* Alert
  -------------------------- */
  /* Message Box
  -------------------------- */
  /* Message
  -------------------------- */
  /* Notification
  -------------------------- */
  /* Input
  -------------------------- */
  /* Cascader
  -------------------------- */
  /* Group
  -------------------------- */
  /* Tab
  -------------------------- */
  /* Button
  -------------------------- */
  /* cascader
  -------------------------- */
  /* Switch
 -------------------------- */
  /* Dialog
 -------------------------- */
  /* Table
 -------------------------- */
  /* Pagination
 -------------------------- */
  /* Popover
 -------------------------- */
  /* Tooltip
  -------------------------- */
  /* Tag
  -------------------------- */
  /* Dropdown
  -------------------------- */
  /* Badge
  -------------------------- */
  /* Card
  --------------------------*/
  /* Slider
  --------------------------*/
  /* Steps
  --------------------------*/
  /* Menu
  --------------------------*/
  /* Rate
  --------------------------*/
  /* DatePicker
  --------------------------*/
  /* Loading
  --------------------------*/
  /* Scrollbar
  --------------------------*/
  /* Carousel
  --------------------------*/
  /* Collapse
  --------------------------*/
  /* Transfer
  --------------------------*/
}

.el-progress{
  position:relative;
  line-height:1;
}

.el-progress.is-exception .el-progress-bar__inner{
  background-color:#ff4949;
}

.el-progress.is-exception .el-progress__text{
  color:#ff4949;
}

.el-progress.is-success .el-progress-bar__inner{
  background-color:#13ce66;
}

.el-progress.is-success .el-progress__text{
  color:#13ce66;
}

.el-progress__text{
  font-size:14px;
  color:rgb(72, 86, 106);
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  line-height: 1;
}

.el-progress__text i {
  vertical-align: middle;
  display: block;
}

.el-progress--circle{
  display: inline-block;
}

.el-progress--circle .el-progress__text {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  transform: translate(0, -50%);
}

.el-progress--circle .el-progress__text i {
  vertical-align: middle;
  display: inline-block;
}

.el-progress--without-text .el-progress__text {
  display: none;
}

.el-progress--without-text .el-progress-bar {
  padding-right: 0;
  margin-right: 0;
  display: block;
}

.el-progress--text-inside .el-progress-bar {
  padding-right: 0;
  margin-right: 0;
}

.el-progress-bar{
  padding-right:50px;
  display:inline-block;
  vertical-align:middle;
  width:100%;
  margin-right:-55px;
  box-sizing:border-box;
}

.el-progress-bar__outer{
  height: 6px;
  border-radius: 100px;
  background-color:rgb(228, 231, 241);
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}

.el-progress-bar__inner{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 2px 0 0 2px;
  background-color:#2980C9;
  text-align: right;
  border-radius: 100px;
  line-height: 1;
}

.el-progress-bar__innerText{
  display: inline-block;
  vertical-align: middle;
  color:#fff;
  font-size: 12px;
  margin: 0 5px;
}

@keyframes progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 32px 0;
  }
}
:root{
  /* Transition
  -------------------------- */
  /* Colors
  -------------------------- */
  /* --color-primary: #20a0ff;   */
  /* Link
  -------------------------- */
  /* Border
  -------------------------- */
  /* Box-shadow
  -------------------------- */
  /* Fill
  -------------------------- */
  /* Font
  -------------------------- */
  /* Size
  -------------------------- */
  /* z-index
  -------------------------- */
  /* Disable base
  -------------------------- */
  /* Icon
  -------------------------- */
  /* Checkbox
  -------------------------- */
  /* Radio
  -------------------------- */
  /* Select
  -------------------------- */
  /* Alert
  -------------------------- */
  /* Message Box
  -------------------------- */
  /* Message
  -------------------------- */
  /* Notification
  -------------------------- */
  /* Input
  -------------------------- */
  /* Cascader
  -------------------------- */
  /* Group
  -------------------------- */
  /* Tab
  -------------------------- */
  /* Button
  -------------------------- */
  /* cascader
  -------------------------- */
  /* Switch
 -------------------------- */
  /* Dialog
 -------------------------- */
  /* Table
 -------------------------- */
  /* Pagination
 -------------------------- */
  /* Popover
 -------------------------- */
  /* Tooltip
  -------------------------- */
  /* Tag
  -------------------------- */
  /* Dropdown
  -------------------------- */
  /* Badge
  -------------------------- */
  /* Card
  --------------------------*/
  /* Slider
  --------------------------*/
  /* Steps
  --------------------------*/
  /* Menu
  --------------------------*/
  /* Rate
  --------------------------*/
  /* DatePicker
  --------------------------*/
  /* Loading
  --------------------------*/
  /* Scrollbar
  --------------------------*/
  /* Carousel
  --------------------------*/
  /* Collapse
  --------------------------*/
  /* Transfer
  --------------------------*/
}