@charset "UTF-8";
:root{
  /* Transition
  -------------------------- */
  /* Colors
  -------------------------- */
  /* Link
  -------------------------- */
  /* Border
  -------------------------- */
  /* Box-shadow
  -------------------------- */
  /* Fill
  -------------------------- */
  /* Font
  -------------------------- */
  /* Size
  -------------------------- */
  /* z-index
  -------------------------- */
  /* Disable base
  -------------------------- */
  /* Icon
  -------------------------- */
  /* Checkbox
  -------------------------- */
  /* Radio
  -------------------------- */
  /* Select
  -------------------------- */
  /* Alert
  -------------------------- */
  /* Message Box
  -------------------------- */
  /* Message
  -------------------------- */
  /* Notification
  -------------------------- */
  /* Input
  -------------------------- */
  /* Cascader
  -------------------------- */
  /* Group
  -------------------------- */
  /* Tab
  -------------------------- */
  /* Button
  -------------------------- */
  /* cascader
  -------------------------- */
  /* Switch
 -------------------------- */
  /* Dialog
 -------------------------- */
  /* Table
 -------------------------- */
  /* Pagination
 -------------------------- */
  /* Popover
 -------------------------- */
  /* Tooltip
  -------------------------- */
  /* Tag
  -------------------------- */
  /* Dropdown
  -------------------------- */
  /* Badge
  -------------------------- */
  /* Card
  --------------------------*/
  /* Slider
  --------------------------*/
  /* Steps
  --------------------------*/
  /* Menu
  --------------------------*/
  /* Rate
  --------------------------*/
  /* DatePicker
  --------------------------*/
  /* Loading
  --------------------------*/
  /* Scrollbar
  --------------------------*/
  /* Carousel
  --------------------------*/
  /* Collapse
  --------------------------*/
  /* Transfer
  --------------------------*/
}

.el-tree{
  cursor: default;
  background: #fff;
  border: 1px solid rgb(209, 218, 229);
}

.el-tree__empty-block{
  position: relative;
  min-height: 60px;
  text-align: center;
  width: 100%;
  height: 100%;
}

.el-tree__empty-text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgb(94, 114, 130);
}

.el-tree-node{
  white-space: nowrap;
}

.el-tree-node > .el-tree-node__children{
  overflow: hidden;
  background-color: transparent;
}

.el-tree-node.is-expanded > .el-tree-node__children{
  display: block;
}

.el-tree-node__content{
  line-height: 36px;
  height: 36px;
  cursor: pointer;
}

.el-tree-node__content > .el-checkbox, .el-tree-node__content > .el-tree-node__expand-icon{
  margin-right: 8px;
}

.el-tree-node__content > .el-checkbox{
  vertical-align: middle;
}

.el-tree-node__content:hover{
  background: rgb(228, 231, 241);
}

.el-tree-node__expand-icon{
  display: inline-block;
  cursor: pointer;
  width: 0;
  height: 0;
  vertical-align: middle;
  margin-left: 10px;
  border: 6px solid transparent;
  border-right-width: 0;
  border-left-color: rgb(151, 166, 190);
  border-left-width: 7px;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.el-tree-node__expand-icon:hover{
  border-left-color: #999;
}

.el-tree-node__expand-icon.expanded{
  transform: rotate(90deg);
}

.el-tree-node__expand-icon.is-leaf{
  border-color: transparent;
  cursor: default;
}

.el-tree-node__label{
  font-size: 14px;
  vertical-align: middle;
  display: inline-block;
}

.el-tree-node__loading-icon{
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  font-size: 14px;
  color: rgb(151, 166, 190);
}

.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background-color: rgb(238, 245, 251);
}
:root{
  /* Transition
  -------------------------- */
  /* Colors
  -------------------------- */
  /* --color-primary: #20a0ff;   */
  /* Link
  -------------------------- */
  /* Border
  -------------------------- */
  /* Box-shadow
  -------------------------- */
  /* Fill
  -------------------------- */
  /* Font
  -------------------------- */
  /* Size
  -------------------------- */
  /* z-index
  -------------------------- */
  /* Disable base
  -------------------------- */
  /* Icon
  -------------------------- */
  /* Checkbox
  -------------------------- */
  /* Radio
  -------------------------- */
  /* Select
  -------------------------- */
  /* Alert
  -------------------------- */
  /* Message Box
  -------------------------- */
  /* Message
  -------------------------- */
  /* Notification
  -------------------------- */
  /* Input
  -------------------------- */
  /* Cascader
  -------------------------- */
  /* Group
  -------------------------- */
  /* Tab
  -------------------------- */
  /* Button
  -------------------------- */
  /* cascader
  -------------------------- */
  /* Switch
 -------------------------- */
  /* Dialog
 -------------------------- */
  /* Table
 -------------------------- */
  /* Pagination
 -------------------------- */
  /* Popover
 -------------------------- */
  /* Tooltip
  -------------------------- */
  /* Tag
  -------------------------- */
  /* Dropdown
  -------------------------- */
  /* Badge
  -------------------------- */
  /* Card
  --------------------------*/
  /* Slider
  --------------------------*/
  /* Steps
  --------------------------*/
  /* Menu
  --------------------------*/
  /* Rate
  --------------------------*/
  /* DatePicker
  --------------------------*/
  /* Loading
  --------------------------*/
  /* Scrollbar
  --------------------------*/
  /* Carousel
  --------------------------*/
  /* Collapse
  --------------------------*/
  /* Transfer
  --------------------------*/
}