<template>
  <div class="usr_cred_container">
    <div class="usr_row">
      <div class="usr_col" :style="`width:${2/24*100}%;`">
        <label>Type:</label>
      </div><div 
        class="usr_col" :style="`width:${6/24*100}%;`">
        <el-select 
          size="small" 
          placeholder="Please select"
          v-model="editCred.type">
          <el-option v-for="cred in curCredItems" :key="cred" :value="cred.type">
            <span style="font-size: 13px">{{cred.type}}</span>
          </el-option>
        </el-select>
      </div>
    </div>
    <div class="usr_row">
      <!-- left:-${moveXPct}%; -->
      <div class="usr_col usr_col_trans" :style="`width:${2/24*100}%;opacity:${opacity};`">
        <label>Domain:</label>
      </div><div
        class="usr_col usr_col_trans" :style="`width:${6/24*100}%;opacity:${opacity};`">
        <el-select 
          size="small" 
          placeholder="Please select"
          v-model="editCred.typeData.domain">
          <el-option v-for="domain in curCredItem.domains" :key="domain" :value="domain.name">
            <span style="font-size: 13px">{{domain.name}}</span>
          </el-option>
        </el-select>
      </div><div
        class="usr_col usr_col_trans" :style="`width:${2/24*100}%;left:-${moveXPct}%;`">
        <label>Name:</label>
      </div><div
        class="usr_col usr_col_trans" :style="`width:${6/24*100}%;left:-${moveXPct}%;`">
        <el-input size="small" placeholder="name" v-model="editCred.name"></el-input>
      </div>
    </div>
    <div class="usr_row">
      <div class="usr_col usr_col_trans" :style="`width:${2/24*100}%;opacity:${opacity};`">
        <label>Org:</label>
      </div><div
        class="usr_col usr_col_trans" :style="`width:${6/24*100}%;opacity:${opacity};`">
        <el-select 
          size="small" 
          placeholder="Please select"
          v-model="editCred.typeData.organization">
          <el-option v-for="org in curCredItem.orgs" :key="org" :value="org.name">
            <span style="font-size: 13px">{{org.name}}</span>
          </el-option>
        </el-select>
      </div><div
        class="usr_col usr_col_trans" :style="`width:${2/24*100}%;left:-${moveXPct}%;`">
        <label>User:</label>
      </div><div
        class="usr_col usr_col_trans" :style="`width:${6/24*100}%;left:-${moveXPct}%;`">
        <el-input size="small" placeholder="user" v-model="editCred.userName"></el-input>
      </div>
    </div>
    <div class="usr_row">
      <div class="usr_col usr_col_trans" :style="`width:${2/24*100}%;opacity:${opacity};`">
        <label>Space:</label>
      </div><div
        class="usr_col usr_col_trans" :style="`width:${6/24*100}%;opacity:${opacity};`">
        <el-select 
          size="small" 
          placeholder="Please select"
          v-model="editCred.typeData.space">
          <el-option v-for="space in curCredItem.spaces" :key="space" :value="space">
            <span style="font-size: 13px">{{space}}</span>
          </el-option>
        </el-select>
      </div><div
        class="usr_col usr_col_trans" :style="`width:${2/24*100}%;left:-${moveXPct}%;`">
        <label>Password:</label>
      </div><div
        class="usr_col usr_col_trans" :style="`width:${6/24*100}%;left:-${moveXPct}%;`">
        <el-input size="small" type="password" v-model="editCred.password"></el-input>
      </div>
    </div>
    <div class="usr_row usr_row_center">
      <div class="usr_col" :style="`width:${2/24*100}%;`">
        <label>Description:</label>
      </div><div
        class="usr_col" :style="`width:${14/24*100}%;`">
        <el-input size="small"
          type="textarea"
          placeholder="description" 
          v-model="editCred.description">
        </el-input>
      </div>
    </div>
    <div class="usr_row">
      <div class="usr_col  usr_edit_oprt" :style="`width:${16/24*100}%;`">
        <transition name="fade" mode="out-in">
        <div v-if="selCred != null" key="update">
          <el-button 
            @click="credCancel()" 
            size="small">
            Cancel
          </el-button>
          <el-button 
            @click="credEditDelete()" 
            type="primary" 
            size="small">
            Delete
          </el-button>
          <el-button 
            @click="credUpdate()" 
            type="primary" 
            size="small">
            Update
          </el-button>
        </div>
        <div v-else key="add">
          <el-tooltip effect="dark" 
            content="No permission"
            :disabled="hasEditPower" 
            placement="top">
            <span>
              <el-button 
                @click="credAdd"
                :disabled="!hasEditPower" 
                type="primary" 
                size="small">
                Add
              </el-button>
            </span>
          </el-tooltip>
        </div>
        </transition>
      </div>
    </div>
    <div class="usr_row usr_row_creds">
      <el-table 
        class="creds_table"
        tooltip-effect="dark"
        :row-class-name="selectRowHL"
        border
        height="200"
        :data="curCreds">
        <el-table-column 
          prop="name"
          align="center"
          label="Name"
          min-width="120"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column 
          prop="type"
          align="center"
          label="Type"
          min-width="80"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column
          align="center" 
          label="Info"
          min-width="120">
          <template scope="scope">
            <div v-if="scope.row.type === 'cf'" align="left">
              <el-tooltip effect="dark" placement="top"> 
                <div slot="content">
                  <div v-for="(value, key) in getCredCfInfo(scope.row)"
                    :key="value">
                    <div class="cred_info">
                      <span class="cred_info_key">{{`${key}`}}</span>:&nbsp;<span>{{`${value}`}}</span>
                    </div>
                  </div>
                </div>
                <div><div v-for="(value, key) in getCredCfInfo(scope.row)"
                  :key="value">
                  <div class="cred_info">
                    <span class="cred_info_key">{{`${key}`}}</span>:&nbsp;<span>{{`${value}`}}</span>
                  </div>
                </div></div>
              </el-tooltip> 
            </div>
            <div v-else>none</div>
          </template>
        </el-table-column> 
        <el-table-column 
          prop="userName"
          align="center"
          label="User"
          min-width="100">
        </el-table-column>
        <el-table-column 
          prop="description"
          align="center"
          label="Description"
          min-width="180">
        </el-table-column>
        <el-table-column 
          label="Operate"
          align="center"
          min-width="80">
          <template scope="scope">
            <el-tooltip effect="dark" 
              content="No permission"
              :disabled="hasEditPower" 
              placement="top">
              <span>
                <el-button 
                  @click="credItemDelete(scope.row, scope.$index)" 
                  type="text" 
                  size="small" 
                  v-if="scope.row.valid"
                  class="el-icon-delete2">
                </el-button>
                <el-button v-else
                  @click="credEdit(scope.row)" 
                  type="text" 
                  size="small"
                  :disabled="scope.row.isEdit || !hasEditPower" 
                  class="el-icon-edit">
                </el-button>
              </span>
            </el-tooltip>
          </template>
        </el-table-column> 
      </el-table>
    </div>
  </div>
</template>

<script>
import {mapState, mapGetters, mapMutations, mapActions} from 'vuex'
import refreshMixin from '@/js/mixin/refresh'
import uiAuthMixin from '@/js/mixin/uiAuth'
import * as glbData from '@/js/globalData'
import {credAPI} from '@/api/restfulAPI'
import * as uiAuthData from '@/js/uiAuthProcess'

export default {
  name: 'dvs-usr-credential',
  mixins: [refreshMixin, uiAuthMixin],
  data () {
    return {
      editCredAuthMask: uiAuthData.PRJ_EDIT_AUTH_MASK,
      refreshInterval: 10000,
      curCredItems: null,
      curCredItem: {},
      selCred: null,
      defCred: {
        type: '',
        typeData: {
          domain: '',
          organization: '',
          space: ''
        },
        name: '',
        userName: '',
        password: '',
        description: ''
      },
      editCred: null,
      curCreds: [],
      moveXPct: 0,
      opacity: 1
    }
  },
  created () {
    this.editCred = {...this.defCred}
  },
  mounted () {
    credAPI.getCredentialItems().then(credItems => {
      this.curCredItems = credItems
    })
  },
  watch: {
    curPage (curPage) {
      // Check refresh
      let moduleName = glbData.belongModule(curPage)
      this.refreshFlag = (moduleName === glbData.USR_CREDENTIAL)
    },
    curCredItems () {
      this.defCred.type = this.curCredItems[0].type
      if (this.editCred.type === '') {
        this.editCred.type = this.curCredItems[0].type
      }
    },
    'editCred.type': {
      handler: function (val, oldVal) {
        if (this.curCredItems != null) {
          let credItemInfo = this.curCredItems.find(cred => {
            return cred.type === val
          })
          if (credItemInfo != null) {
            this.curCredItem.domains = credItemInfo.domain
          }
          if (this.editCred.typeData.domain === '' && this.curCredItem.domains[0] != null) {
            this.editCred.typeData.domain = this.curCredItem.domains[0].name
          }
          if (val === 'cf') {
            this.opacity = 1
            this.moveXPct = 0
          } else {
            this.opacity = 0
            this.moveXPct = (8 / 24) * 100
          }
        }
      },
      deep: true
    },
    'editCred.typeData.domain': {
      handler: function (val, oldVal) {
        if (val != null && this.curCredItems != null) {
          if (this.selCred != null && val === this.selCred.domain) {
            this.editCred.typeData.organization = this.selCred.org.concat()
          }
          let domainInfo = this.curCredItem.domains.find(domain => {
            return domain.name === val
          })
          if (domainInfo !== undefined) {
            this.curCredItem.orgs = domainInfo.organization
          }
          let findOrg = this.curCredItem.orgs.find(org => {
            return org.name === this.editCred.typeData.organization
          })
          if ((this.editCred.typeData.organization === '' || findOrg === undefined) && this.curCredItem.orgs[0] != null) {
            this.editCred.typeData.organization = this.curCredItem.orgs[0].name
          }
          // if (findOrg !== undefined) this.editCred.org = findOrg.name.concat()
        }
      },
      deep: true
    },
    'editCred.typeData.organization': {
      handler: function (val, oldVal) {
        if (val != null && this.curCredItems != null) {
          if (this.selCred != null && val === this.selCred.organization) {
            this.editCred.typeData.space = this.selCred.space.concat()
          }
          let orgInfo = this.curCredItem.orgs.find(org => {
            return org.name === val
          })
          if (orgInfo !== undefined) {
            this.curCredItem.spaces = orgInfo.space
          }
          let findSpace = this.curCredItem.spaces.find(space => {
            return space === this.editCred.typeData.space
          })
          if ((this.editCred.typeData.space === '' || findSpace === undefined) && this.curCredItem.spaces[0] != null) {
            this.editCred.typeData.space = this.curCredItem.spaces[0]
          }
          // if (findSpace !== undefined) this.editCred.space = findSpace.concat()
        }
      },
      deep: true
    },
    selCred (val) {
      this.refreshFlag = (val === null)
    },
    curUserCreds (val) {
      this.curCreds = [...val]
    }
  },
  computed: {
    ...mapState([
      'user',
      'curUserCreds'
    ]),
    ...mapGetters([
      'curPage'
    ]),
    hasEditPower () {
      return this.checkUIAuth(this.user.role, this.editCredAuthMask)
    }
  },
  methods: {
    ...mapMutations([
      'setCurMsg'
    ]),
    ...mapActions([
      'getUserCreds'
    ]),
    credAdd () {
      this.refreshFlag = false
      credAPI.addCredential(this.user.id, this.editCred).then(data => {
        let msg = {
          message: `Add ${this.editCred.name} credential success`,
          type: 'success'
        }
        this.setCurMsg(msg)
        this.refreshFlag = true
        this.selCred = null
        this.editCred = {...this.defCred}
      }).catch(error => {
        if (error.data != null &&
          error.data.errorMsg != null &&
          error.data.errorMsg.length > 0) {
          let msg = {
            message: `Add ${this.editCred.name} credential failed, cause: ${error.data.errorMsg}`,
            type: 'error'
          }
          this.setCurMsg(msg)
        }
        this.refreshFlag = true
        this.selCred = null
        this.editCred = {...this.defCred}
      })
    },
    credRealDelete (credId, credName) {
      this.refreshFlag = false
      credAPI.deleteCredential(credId).then(data => {
        let msg = {
          message: `Delete ${credName} credential success`,
          type: 'success'
        }
        this.setCurMsg(msg)
        this.refreshFlag = true
        this.selCred = null
        this.editCred = {...this.defCred}
      }).catch(error => {
        if (error.data != null &&
          error.data.errorMsg != null &&
          error.data.errorMsg.length > 0) {
          let msg = {
            message: `Delete ${credName} credential failed, cause: ${error.data.errorMsg}`,
            type: 'error'
          }
          this.setCurMsg(msg)
        }
        this.refreshFlag = true
        this.selCred = null
        this.editCred = {...this.defCred}
      })
    },
    credEditDelete () {
      if (this.selCred != null) this.credRealDelete(this.selCred.id, this.selCred.name)
    },
    credItemDelete (row, index) {
      this.credRealDelete(row.id, row.name)
    },
    credEdit (cred) {
      if (this.selCred != null) delete this.selCred.isEdit
      this.selCred = cred
      this.selCred.isEdit = true
      this.editCred = {...cred}
      this.curCreds = [...this.curCreds]
    },
    credUpdate () {
      this.refreshFlag = false
      credAPI.updateCredential(this.editCred).then(data => {
        let msg = {
          message: `Update ${this.editCred.name} credential success`,
          type: 'success'
        }
        this.setCurMsg(msg)
        this.refreshFlag = true
        this.selCred = null
        this.editCred = {...this.defCred}
      }).catch(error => {
        if (error.data != null &&
          error.data.errorMsg != null &&
          error.data.errorMsg.length > 0) {
          let msg = {
            message: `Update ${this.editCred.name} credential failed, cause: ${error.data.errorMsg}`,
            type: 'error'
          }
          this.setCurMsg(msg)
        }
        this.refreshFlag = true
        this.selCred = null
        this.editCred = {...this.defCred}
      })
    },
    credCancel () {
      delete this.selCred.isEdit
      this.selCred = null
      this.editCred = {...this.defCred}
      this.curCreds = [...this.curCreds]
    },
    getCredCfInfo (cred) {
      let cfInfo = {}
      let {entries} = Object
      for (let [key, value] of entries(cred.typeData)) {
        if (['domain', 'organization', 'space'].includes(key)) {
          cfInfo[key] = value
        }
      }
      return cfInfo
    },
    selectRowHL (row, index) {
      if (this.selCred != null && row.id === this.selCred.id) {
        return 'sel-cred-row'
      } else if (index % 2 !== 0) {
        return 'even-cred-row'
      }
    },
    refreshFun () {
      this.getUserCreds()
    }
  }
}
</script>

<style lang="scss">
@import "../../style/devops-color.scss";

.usr_cred_container{
  flex-grow: 1;
  margin: 20px 10px 10px;
  padding: 0 20px;
  border: 1px solid $dvs-cl-div-border;
  font-size: 14px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .usr_row{
    margin-top: 20px;
    .usr_col{
      display: inline-block;
    }
    .usr_col_trans {
      position: relative;
      transition: .8s ease-in-out;
    }
    .usr_edit_oprt{
      display: flex;
      justify-content: flex-end;
      .fade-enter-active, .fade-leave-active {
        transition: opacity .3s ease-in-out;
      }
      .fade-enter, .fade-leave-to {
        opacity: 0;
      }
    }
  }
  .usr_row_center{
    display: flex;
    align-items: center;
  }
  .usr_row_creds{
    margin-bottom: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    .creds_table{
      flex-grow: 1;
    }
  }
  .cred_info {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    .cred_info_key {
      font-weight: 600;
    }
  }
}

.el-table {
  .sel-cred-row {
    background: #c9e5f5;
  }
  .even-cred-row {
    background: #FAFAFA;
  }
}
</style>
