<template>
  <div class="prf_container">
    <h3>Profile Information</h3>
    <div class="prf_card">
      <el-row type="flex" justify="start " align="middle" :gutter="20">
        <el-col :span="2">
          <label>Role:</label>        
        </el-col>
        <el-col :span="8" >
          <el-input v-model="userInfo.role" :disabled="true"></el-input>  
        </el-col>
      </el-row>
      <el-row type="flex" justify="start " align="middle" :gutter="20">
        <el-col :span="2">
          <label>Username:</label>        
        </el-col>
        <el-col :span="8">
          <el-input v-model="userInfo.userName" :disabled="true"></el-input>  
        </el-col>
      </el-row>
      <el-row type="flex" justify="start" align="middle" :gutter="20">
        <el-col :span="2">
          <label>Name:</label>        
        </el-col>
        <el-col :span="8">
          <el-input v-model="userInfo.name" :disabled="true"></el-input>  
        </el-col>
      </el-row>
      <el-row type="flex" justify="start" align="middle" :gutter="20">
        <el-col :span="2">
          <label >Email:</label>        
        </el-col>
        <el-col :span="8">
          <el-input v-model="userInfo.email" :disabled="true"></el-input>  
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
import {mapState} from 'vuex'
import {pfAPI} from '@/api/restfulAPI'
import * as glbData from '@/js/globalData'

export default {
  name: 'dvs-profile',
  data () {
    return {
      pageName: glbData.USR_PROFILE,
      userInfo: {
        id: 0,
        role: '',
        username: '',
        name: '',
        email: ''
      }
    }
  },
  mounted () {
    pfAPI.getUserInfo(this.user.id).then(data => {
      this.userInfo = data
    })
  },
  computed: {
    ...mapState([
      'user'
    ])
  }
}
</script>

<style lang="scss" scoped>
@import "../../style/devops-color.scss";
.prf_container{
  h3{
    color: #0A61AA;
    font-family: Arial,Serif;  
    margin: 20px 20px 20px;
  }

  .prf_card{
    padding: 40px 20px;
    border: 1px solid #D1DAE5;
    border-radius: 6px;
    background-color: #F9FAFC;
    overflow: hidden;
    .el-row{
      margin: 10px 0 10px 10px;
    }
  }
}
</style>
