<template>  
  <div class="app_container">
    <div class="app_toolbar">
      <span>{{curWsp.name}}</span>
      <span>&nbsp;/&nbsp;</span>
      <el-tooltip effect="dark" 
        :disabled="activePrjs.length > 0"
        content="No active project" 
        placement="top">
        <span>
          <el-button type="text" disabled v-if="activePrjs.length === 0">
            {{noneVal}}
            <i class="el-icon-caret-bottom"></i>
          </el-button>
          <el-dropdown @command="handlePrjCmd" v-else>
            <span class="el-dropdown-link">
              {{curPrjName}}
              <i class="el-icon-caret-bottom el-icon--right"></i>
            </span>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item class="dropdown-item"
                v-for="(item, index) in activePrjs" 
                :key="item.id"
                :command="item.id.toString()"
                :divided="index > 0">
                {{item.name}}
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </span>
      </el-tooltip>
      <span>&nbsp;/&nbsp;</span>
      <el-tooltip effect="dark" 
        :disabled="appsInfo.length > 0"
        content="No app" 
        placement="top">
        <span>
          <el-button type="text" disabled v-if="appsInfo.length === 0">
            {{noneVal}}
            <i class="el-icon-caret-bottom"></i>
          </el-button>
          <el-dropdown @command="handleAppCmd" v-else>
            <span class="el-dropdown-link">
              {{curAppName}}
              <i class="el-icon-caret-bottom el-icon--right"></i>
            </span>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item class="dropdown-item"
                v-for="(item, index) in appsInfo" 
                :key="item.appId"
                :command="item.appId.toString()"
                :divided="index > 0">
                {{item.appName}}
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </span>
      </el-tooltip>
    </div> 
    <div class="app_carousel">
      <div class="app_none_prompt" 
        v-if="appsInfo.length === 0">
        {{noneVal}}
      </div>
      <el-carousel v-else
        :autoplay="false" 
        arrow="always" 
        height="100%"
        :initial-index="crsInitIndex"
        @change="carouselChange"
        ref="carousel">
        <el-carousel-item  v-for="item in appsInfo" :key="item.appId" :name="item.appName">
          <dvs-app-dashboard :appId="appId"></dvs-app-dashboard>
        </el-carousel-item>
      </el-carousel>       
    </div>
  </div>
</template>

<script>
import {mapState, mapGetters, mapActions} from 'vuex'
import refreshMixin from '@/js/mixin/refresh'
import dvsAppDashboard from '@/components/app/AppDashboard'

export default {
  name: 'dvs-app',
  components: {dvsAppDashboard},
  mixins: [refreshMixin],
  data () {
    return {
      refreshInterval: 10000,
      noneVal: 'None',
      defPrjId: 1,
      crsInitIndex: 0
    }
  },
  props: {
    prjId: {
      type: Number,
      default: 0,
      require: false
    },
    appId: {
      type: Number,
      default: 0,
      require: false
    }
  },
  mounted () {
    if (this.activePrjs.length > 0) {
      let findPrj = this.activePrjs.find((prj) => {
        return prj.id === this.curSelPrjId
      })
      if (findPrj === undefined) this.$router.push({name: this.$route.name, params: {prjId: this.activePrjs[0].id}})
    } else if (this.curSelPrjId !== 0) this.$router.push({name: this.$route.name})
  },
  watch: {
    activePrjs (prjs) {
      if (prjs.length > 0) {
        let findPrj = prjs.find((prj) => {
          return prj.id === this.curSelPrjId
        })
        if (findPrj === undefined) this.$router.push({name: this.$route.name, params: {prjId: prjs[0].id}})
      } else if (this.curSelPrjId !== 0) this.$router.push({name: this.$route.name})
    },
    appsInfo (appsInfo) {
      if (appsInfo.length > 0) {
        let findApp = appsInfo.find((app) => {
          return app.appId === this.curSelAppId
        })
        if (findApp === undefined) this.$router.push({name: this.$route.name, params: {prjId: this.prjId, appId: appsInfo[0].appId}})
      } else if (this.curSelAppId !== 0) this.$router.push({name: this.$route.name, params: {prjId: this.prjId}})
    },
    curSelPrjId (prjId) {
      this.getAppsInfo(this.prjId)
    },
    curSelAppId (appId) {
      this.setCrsIndexWithAppId(appId)
    }
  },
  computed: {
    ...mapState([
      'curWsp',
      'activePrjs'
    ]),
    ...mapState('appMng', [
      'appsInfo'
    ]),
    ...mapGetters([
      'curPage'
    ]),
    curSelPrjId () {
      return this.prjId
    },
    curPrjName () {
      let prjName = this.noneVal
      this.activePrjs.find((prj) => {
        if (prj.id === this.curSelPrjId) {
          prjName = prj.name
          return true
        }
      })
      return prjName
    },
    curSelAppId () {
      return this.appId
    },
    curAppName () {
      let appName = this.noneVal
      this.appsInfo.find((app) => {
        if (app.appId === this.curSelAppId) {
          appName = app.appName
          return true
        }
      })
      return appName
    }
  },
  methods: {
    ...mapActions('appMng', [
      'getAppsInfo'
    ]),
    handlePrjCmd (command) {
      let id = parseInt(command)
      if (id !== this.prjId) this.$router.push({name: this.$route.name, params: {prjId: id}})
    },
    carouselChange (curIndex, oldIndex) {
      if (this.appsInfo.length > 0 && oldIndex >= 0) {
        let appId = this.appsInfo[curIndex].appId
        this.$router.push({name: this.$route.name, params: {prjId: this.prjId, appId: appId}})
      }
    },
    setCrsIndexWithAppId (appId) {
      if (this.$refs.carousel !== undefined) {
        let crsIndex = 0
        for (let [index, app] of this.appsInfo.entries()) {
          if (app.appId === appId) {
            crsIndex = index
            break
          }
        }
        this.$refs.carousel.setActiveItem(crsIndex)
      }
    },
    handleAppCmd (command) {
      let id = parseInt(command)
      this.$router.push({name: this.$route.name, params: {prjId: this.prjId, appId: id}})
    },
    refreshFun () {
      this.getAppsInfo(this.prjId)
    }
  }
}
</script>


<style lang="scss">
@import "../../style/devops-color.scss";

.app_container {
  $toolbarH: 45px;
  $pagesH: 40px;
  padding: 0px 5px;
  height: 100%;
  display: flex;
  flex-direction: column;

  .app_toolbar {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    background-color: $dvs-cl-toolbar-bk;
    height: $toolbarH;
    margin-top: 5px;
    padding-left: 20px;
  }

  .app_carousel{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: 5px; 
    .el-carousel{ 
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      .el-carousel__container{
        flex-grow: 1;
        .el-carousel__item{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: stretch;
        }
      }

      .el-carousel__item:nth-child(2n) {
        background-color: #99a9bf;
      }

      .el-carousel__item:nth-child(2n+1) {
        background-color: #d3dce6;
      } 
    }

    .app_none_prompt {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  } 
}
</style>

