<template>
  <div class="appd_container">
    <div class="appd_card">
      <el-row :gutter="10" type="flex" align="middle">
        <el-col :span="4">
          <div class="appd_status appd_bg">
            <label class="appd_label">APP Status</label>
            <label class="appd_label">{{appStatus}}</label>
          </div>
        </el-col>
        <el-col :span="4">
          <div class="appd_alarm appd_bg">
            <label class="appd_label">Today Alarm Number</label>
            <label class="appd_label">{{appAlarmCnt}}</label>
          </div>
        </el-col>
        <el-col :span="4">
          <div class="appd_deploy appd_bg">
            <label class="appd_label">Latest Deploy</label>
            <label class="appd_label">{{appDPTs}}</label>
          </div>
        </el-col>
      </el-row>
    </div>
    <el-tabs class="appd_tabs" v-model="activeTab" type="border-card">
      <el-tab-pane label="Life Cycle" :name="lcTabName"> 
      </el-tab-pane>
      <el-tab-pane label="Alarm Statistic" :name="asTabName">
      </el-tab-pane>
      <keep-alive>
            <router-view :appId="appId"></router-view>
        </keep-alive> 
    </el-tabs>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
import * as glbData from '@/js/globalData'
const INVALID_VAL = 'None'
export default {
  name: 'dvs-app-dashboard',
  data () {
    return {
      lcTabName: glbData.APP_LC_TAB_NAME,
      asTabName: glbData.APP_AS_TAB_NAME,
      activeTab: glbData.APP_LC_TAB_NAME,
      invalidVal: INVALID_VAL
    }
  },
  props: {
    appId: {
      type: Number,
      require: true
    }
  },
  mounted () {
    if (this.$route.name === glbData.APP_ALARMSTATISTIC || this.$route.name === glbData.APP_LIFECYCLE) {
      this.activeTab = this.$route.name === glbData.APP_ALARMSTATISTIC ? this.asTabName : this.lcTabName
    }
  },
  watch: {
    activeTab (name) {
      if (name === this.asTabName) this.$router.push({name: glbData.APP_ALARMSTATISTIC, params: this.$route.params})
      else this.$router.push({name: glbData.APP_LIFECYCLE, params: this.$route.params})
    },
    $route (to, form) {
      if (to.name === glbData.APP_ALARMSTATISTIC || to.name === glbData.APP_LIFECYCLE) {
        this.activeTab = to.name === glbData.APP_ALARMSTATISTIC ? this.asTabName : this.lcTabName
      }
    }
  },
  computed: {
    ...mapGetters('appMng', [
      'getAppInfoById'
    ]),
    curAppInfo () {
      return this.getAppInfoById(this.appId)
    },
    appAlarmCnt () {
      return (this.curAppInfo !== undefined &&
        this.curAppInfo.totalAlram !== undefined &&
        this.curAppInfo.totalAlram !== null
        ) ? this.curAppInfo.totalAlram : this.invalidVal
    },
    appStatus () {
      return (this.curAppInfo !== undefined &&
        this.curAppInfo.appStatus !== undefined &&
        this.curAppInfo.appStatus !== null
        ) ? this.curAppInfo.appStatus : this.invalidVal
    },
    appDPTs () {
      return (this.curAppInfo !== undefined &&
        this.curAppInfo.lastestDeploy !== undefined &&
        this.curAppInfo.lastestDeploy !== null
        ) ? this.curAppInfo.lastestDeploy : this.invalidVal
    }
  }
}
</script>

<style lang="scss">
@import "../../style/devops-color.scss";
.appd_container{
  $cardH: 100px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 5px 5px 30px;
  border: 1px solid $dvs-cl-div-border;
  .appd_card{
    border: 1px solid #D1DAE5;
    background-color: #FFFFFF;
    padding-left: 10px;
    height: $cardH;
    display: flex;
    flex-direction: column;
    .el-row{
      flex-grow: 1;
      .appd_label{
        color:#FFFFFF;
        font-size: 18px;
      }

      .appd_bg{
        display: flex;
        height: 87px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .appd_status{
        border: 1px solid #00B0F0;
        background-color: #00B0F0;
      }
      .appd_alarm{
        border: 1px solid #FF7C80;
        background-color: #FF7C80;
      }
      .appd_deploy{
        border: 1px solid #8BBE48;
        background-color: #8BBE48;
      }
    }
  }
  .appd_tabs{
    margin-top: 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  .el-tabs__content{
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
}
</style>

