<template>
  <div class="app_lifecycle_container">
    <lifecycle :data-flow="curLifecycle" :statusPalette="statusPalette">
    </lifecycle> 
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
import lifecycle from '@/components/app/LifeCycle'
export default {
  name: 'dvs-app-lifecycle',
  components: { lifecycle },
  data () {
    return {
      statusPalette: {
        'not start': 'Cyan',
        started: 'darkorange',
        succeeded: 'Cyan',
        failed: 'red'
      }
    }
  },
  props: {
    appId: {
      type: Number,
      require: true
    }
  },
  computed: {
    ...mapGetters('appMng', [
      'getAppInfoById'
    ]),
    curLifecycle () {
      let appInfo = this.getAppInfoById(this.appId)
      return appInfo !== undefined ? appInfo.data : {}
    }
  }
}
</script>

<style lang="scss" scoped>
  .app_lifecycle_container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
</style>
