<template>
  <div class="lifecycle_container"> 
    <div class="lifecycle_graph" ref="lifecycleDrawBoard">
    </div>
  </div>
</template>

<script>
import * as d3 from 'd3'
const DEF_RADIUS = 32
const FONT_FAMILY = 'Microsoft YaHei,微软雅黑,Arial,sans-serif'
export default {
  name: 'dvs-lifecycle',
  data () {
    return {
      duration: 750,
      defStatusPalette: {
        pass: 'lightgreen',
        fail: 'red'
      }
    }
  },
  props: {
    dataFlow: {
      type: Object,
      require: true
    },
    radius: {
      type: Number,
      default: DEF_RADIUS,
      require: false
    },
    intervalSpace: {
      type: Number,
      default: 0,
      require: false
    },
    frontSpace: {
      type: Number,
      default: 0,
      require: false
    },
    textFontSize: {
      type: Number,
      default: 14,
      require: false
    },
    defStatusColor: {
      type: String,
      default: 'rgb(174, 199, 232)',
      require: false
    },
    statusPalette: {
      type: Object,
      default: null,
      require: false
    },
    linkColor: {
      type: String,
      default: '#ccc',
      require: false
    },
    linkWidth: {
      type: Number,
      default: 1,
      require: false
    }
  },
  mounted () {
    setTimeout(() => {
      this.drawDataFlow()
    }, 500)
  },
  watch: {
    dataFlow: {
      deep: true,
      handler: function () {
        this.drawDataFlow()
      }
    }
  },
  computed: {
    cpOriginX () {
      return 0
    },
    cpOriginY () {
      return this.$refs.lifecycleDrawBoard.clientHeight / 2
    },
    cpWidth () {
      return this.$refs.lifecycleDrawBoard.clientWidth
    },
    cpHeight () {
      return this.$refs.lifecycleDrawBoard.clientHeight
    },
    cpIntervalSpace () {
      return this.intervalSpace > 0 ? this.intervalSpace : 4 * DEF_RADIUS
    },
    cpFrontSpace () {
      return this.frontSpace > 0 ? this.frontSpace : 2 * DEF_RADIUS
    },
    cpSvgGrp () {
      let drawBoard = this.$refs.lifecycleDrawBoard
      let svgGrp = d3.select(drawBoard).select('svg')
      if (svgGrp.empty()) {
        svgGrp = d3.select(drawBoard)
          .append('svg')
          .attr('width', this.cpWidth)
          .attr('height', this.cpHeight)
          .style('pointer-events', 'all')
          .call(d3.zoom()
          .scaleExtent([0.5, 5])
          .on('zoom', this.zoomed))
          .append('g')
      }
      return svgGrp
    },
    cpTooltip () {
      let drawBoard = this.$refs.lifecycleDrawBoard
      let tooltip = d3.select(drawBoard)
        .append('div')
        .attr('class', 'tooltip')
        .style('opacity', 0.0)
        .style('position', 'absolute')
        .style('width', 120)
        .style('color', 'white')
        .style('padding', '10px')
        .style('font-family', FONT_FAMILY)
        .style('font-size', this.textFontSize)
        .style('text-align', 'center')
        .style('background-color', 'rgb(31, 44, 61)')
        .style('border-radius', '4px')
        .style('z-index', 2004)
      return tooltip
    },
    cpStatusPalette () {
      return this.statusPalette != null ? this.statusPalette : this.defStatusPalette
    }
  },
  methods: {
    zoomed () {
      this.cpSvgGrp.attr('transform', d3.event.transform)
    },
    cpTreeData () {
      let tree = d3.tree()
        .size([this.cpHeight, this.cpWidth])
      let hierarchyRoot = d3.hierarchy(this.dataFlow, function (d) {
        return d.next
      })

      let treeData = tree(hierarchyRoot)
      return treeData
    },
    drawDataFlow () {
      let i = 0
      let defStatusColor = this.defStatusColor
      let textFS = this.textFontSize
      let linkColor = this.linkColor
      let linkWidth = this.linkWidth
      let duration = this.duration
      let originX = this.cpOriginX
      let originY = this.cpOriginY
      let radius = this.radius
      let intervalSpace = this.cpIntervalSpace
      let frontSpace = this.cpFrontSpace
      // let tooltip = this.cpTooltip
      let svgGrp = this.cpSvgGrp
      let statusPalette = this.cpStatusPalette

      let treeRoot = this.cpTreeData()
      let nodeDatas = treeRoot.descendants()
      let linkDatas = treeRoot.descendants().slice(1)
      nodeDatas.forEach(function (d) { d.y = frontSpace + d.depth * intervalSpace })

      let node = svgGrp.selectAll('g.node')
        .data(nodeDatas, function (d) { return d.id || (d.id = ++i) })
      let nodeEnter = node.enter().append('g')
        .attr('class', 'node')
        .attr('transform', function (d) {
          return `translate(${originX},${originY})`
        })
      nodeEnter.append('circle')
        .attr('class', 'node')
      nodeEnter.append('text')
        .attr('class', 'node')
      let nodeRefresh = nodeEnter.merge(node)
      nodeRefresh.select('circle.node')
        .attr('r', radius)
        .style('fill', function (d) {
          let fillColor = defStatusColor
          if (d.data.status != null && statusPalette.hasOwnProperty(d.data.status)) {
            fillColor = statusPalette[d.data.status]
          }
          return fillColor
        })
        .attr('cursor', 'pointer')
        // .on('mouseover', function (d) {
        //   let left = d3.event.layerX - tooltip._groups[0][0].clientWidth / 2
        //   let top = d3.event.layerY - 80
        //   tooltip.html(d.data.name + '<br/>' + d.data.status)
        //     .style('left', `${left}px`)
        //     .style('top', `${top}px`)
        //     .style('opacity', 1.0)
        //   console.log(left, top, radius)
        // })
        // .on('mousemove', function (d) {
        //   let left = d3.event.layerX - tooltip._groups[0][0].clientWidth / 2
        //   let top = d3.event.layerY - 80
        //   tooltip.style('left', `${left}px`)
        //     .style('top', `${top}px`)
        // })
        // .on('mouseout', function (d) {
        //   tooltip.style('opacity', 0.0)
        // })
      let text = nodeRefresh.select('text.node')
        .style('font-size', `${textFS}`)
        .style('font-family', FONT_FAMILY)
        .attr('text-anchor', 'middle')
        .attr('dominant-baseline', 'middle')
        .text(function (d) { return d.data.name })
      nodeRefresh.transition()
        .duration(duration)
        .attr('transform', function (d) {
          return `translate(${d.y},${d.x})`
        })
      text.selectAll('tspan')
        .data(function (d) {
          let data = []
          if (d.data.nameAppend !== undefined) data.push(d.data.nameAppend)
          return data
        })
        .enter()
        .append('tspan')
        .attr('x', 0)
        .attr('dy', '1em')
        .text(function (d) {
          return d
        })

      let nodeExit = node.exit()
      nodeExit.select('circle')
        .attr('r', 1e-6)
      nodeExit.select('text')
        .style('fill-opacity', 1e-6)
      nodeExit.transition()
        .duration(duration)
        .attr('transform', function (d) {
          return `translate(${treeRoot.y},${treeRoot.x})`
        })
        .remove()

      let link = svgGrp.selectAll('path.link')
        .data(linkDatas, function (d) { return d.id })
      let linkEnter = link.enter().insert('path', 'g')
        .attr('class', function (d) { return `link-${d.data.name} link` })
        .attr('d', function (d) {
          let o = {x: originY, y: originX}
          return diagonal(o, o)
        })
      linkEnter.merge(link)
        .transition()
        .duration(duration)
        .style('stroke', linkColor)
        .style('fill', 'none')
        .style('stroke-width', `${linkWidth}px`)
        .attr('d', function (d) { return diagonal(d, d.parent) })
      link.exit()
        .transition()
        .duration(duration)
        .attr('d', function (d) {
          var o = {x: treeRoot.x, y: treeRoot.y}
          return diagonal(o, o)
        })
        .remove()

      function diagonal (s, d) {
        let path = `M ${s.y - radius} ${s.x}
                C ${(s.y + d.y) / 2} ${s.x},
                  ${(s.y + d.y) / 2} ${d.x},
                  ${d.y + radius} ${d.x}`
        return path
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../style/devops-color.scss";

.lifecycle_container{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  .lifecycle_graph{
    flex-grow: 1;
    border: 1px solid $dvs-cl-div-border;
  }
}
</style>
