$dvs-cl-primiry: #2980C9;
$dvs-cl-inner-bk: #eef1f6;
$dvs-cl-white-font: white;
$dvs-cl-red-font: red;
$dvs-cl-limegreen-font: limegreen;
$dvs-cl-border: #dfe6ec;
$dvs-cl-w-bk: #ffffff;
$dvs-cl-y-bk: #fdffdf;
$dvs-cl-x-bk: rgb(21, 120, 156);

$dvs-cl-main-header: $dvs-cl-primiry;
$dvs-cl-main-header-font: $dvs-cl-white-font;

$dvs-cl-toolbar-bk: $dvs-cl-inner-bk;

$dvs-cl-div-border: $dvs-cl-border;

$dvs-cl-w-table-item-bk: $dvs-cl-w-bk;
$dvs-cl-y-table-item-bk: $dvs-cl-y-bk;

$dvs-cl-danger: #ff4949;
$dvs-cl-danger-bk:rgba(255,73,73,.1);
$dvs-cl-danger-bd:rgba(255,73,73,.2);
$dvs-cl-fatal: #ff20ff;
$dvs-cl-fatal-bk:rgba(255,32,255,.1);
$dvs-cl-fatal-bd:rgba(255,32,255,.2);

$dvs-cl-r-table-item-font: $dvs-cl-red-font;
$dvs-cl-lg-table-item-font: $dvs-cl-limegreen-font;
