<template>
  <div class="wrapper">
    <el-row class="header" type="flex" align="bottom">
      <el-col :span="3" class="logo">
        <span><i class="iconfont icon-devops"></i>&nbsp;CodePipeline</span>
      </el-col>
      <el-col :span="18"></el-col>
      <el-col :span="1" class="alarm">
        <div>
          <a href="javascript:void(0);" 
            @click="viewRealTimeAlarm()">
            <img align="left" :alt="alarmTip" :title="alarmTip"
              :src="getAlarmIcon()"/>
          </a>
        </div>
      </el-col>
      <el-col :span="2" class="user">
        <el-popover
          class="user_pop"
          ref="userPpopover"
          placement="bottom"
          width="280px"
          trigger="hover">
          <div class="user_content">
            <div class="user_info">
              <div class="user_pic">
                <i class="iconfont icon-userpic"></i>
              </div>
              <div class="user_login_info">
                <span>{{user != null ? user.name : 'None'}}</span><br>
                <span>Login Time: {{loginTs}}</span>
              </div>
            </div>
            <div class="user_oprt">
              <el-button type="primary" @click="userProfile">
                <i class="iconfont icon-profile"></i>&nbsp;Profile
              </el-button>
              <el-button type="primary" @click="userLogout">
                <i class="iconfont icon-logout"></i>&nbsp;Logout
              </el-button>
            </div>
          </div>
        </el-popover>
        <el-button type="text" 
          size="small" 
          class="user_btn"
          v-popover:userPpopover>
          <i class= "iconfont icon-user"></i> 
          <i class="el-icon-caret-bottom el-icon--right"></i>
        </el-button>
      </el-col>
    </el-row>
    <el-row type="flex" class="body">
      <el-col :span="3" class="menu" ref="menu">
        <el-menu 
          class="contorl_menu"
          :style="`transform: translateX(-${menuMoveXPct}%);`"
          @select="menuSelect"
          theme="dark" 
          :default-active="curIndex" 
          :default-openeds="openedsSubMenu">
          <!--
          <el-menu-item :index="glbData.HLT_MODULE_NAME">
            <i class="iconfont icon-healthy"></i>
            {{glbData.fistLetterUpper(glbData.HLT_MAIN)}}
          </el-menu-item>
          <el-submenu :index="glbData.ALM_MODULE_NAME">
            <template slot="title">
              <i class="iconfont icon-alarm"></i>
              {{glbData.fistLetterUpper(glbData.ALM_MAIN)}}
            </template>
            <el-menu-item :index="glbData.ALM_REALTIME">
              <i class="iconfont icon-realtime"></i> 
              {{glbData.fistLetterUpper(glbData.ALM_REALTIME)}}
            </el-menu-item>
            <el-menu-item :index="glbData.ALM_HISTORY">
              <i class="iconfont icon-history"></i> 
              {{glbData.fistLetterUpper(glbData.ALM_HISTORY)}}
            </el-menu-item>
          </el-submenu>        
          <el-menu-item :index="glbData.PRJ_MODULE_NAME">
            <i class="iconfont icon-project"></i>
            {{glbData.fistLetterUpper(glbData.PRJ_MAIN)}}
          </el-menu-item>         
          <el-menu-item :index="glbData.APP_MODULE_NAME">
            <i class="iconfont icon-app"></i>
            {{glbData.fistLetterUpper(glbData.APP_MAIN)}}
          </el-menu-item>
          -->
          <el-menu-item :index="glbData.PPL_MODULE_NAME">
            <i class="iconfont icon-pipeline"></i>
            {{glbData.fistLetterUpper(glbData.PPL_MAIN)}}
          </el-menu-item>
          <!--
          <el-menu-item>
            <i class="el-icon-document"></i>             
            <a href="static/html/userManual.html"  style="color:white;text-decoration:none" target="_blank">User Manual</a>  
          </el-menu-item>   
          -->
        </el-menu>
        <el-menu
          :style="`transform: translateX(-${menuMoveXPct}%);`"
          class="user_menu"
          @select="userMenuSelect"
          theme="dark"
          :default-active="curIndex">
          <el-menu-item :index="controlTmpIndex">
            <i class="iconfont icon-return"></i>
            DevOps Center
          </el-menu-item>
          <el-menu-item :index="glbData.USR_PROFILE">
            <i class="iconfont icon-profile"></i>
            {{glbData.fistLetterUpper(glbData.USR_PROFILE)}}
          </el-menu-item>
          <el-menu-item :index="glbData.USR_CREDENTIAL">
            <i class="iconfont icon-credential"></i>
            {{glbData.fistLetterUpper(glbData.USR_CREDENTIAL)}}
          </el-menu-item>
        </el-menu>
      </el-col>
      <el-col :span="21" class="content">
        <keep-alive>
          <router-view></router-view>
        </keep-alive>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import {mapState, mapGetters, mapActions} from 'vuex'
import RepeatRunner from 'repeat-runner'
import { Message } from 'element-ui'
import * as glbData from '@/js/globalData'
import * as tokenPrc from '@/js/tokenProcess'
import moment from 'moment'

export default {
  name: 'dvs-main',
  data () {
    return {
      refreshRunner: null,
      refreshInterval: 5000,
      glbData: glbData,
      openedsSubMenu: [],
      curIndex: '',
      menuMoveXPct: 0,
      curMenu: 'controlMenu',
      controlTmpIndex: ''
    }
  },
  created () {
    this.refreshRunner = new RepeatRunner(this.refreshFun, this.refreshInterval)
  },
  mounted () {
    // Refresh page reconfirm menu-item
    this.getLoginUserInfo()
    this.setCurMenumIndex(this.$route.name)
    if (!this.refreshRunner.isRunning) this.refreshRunner.start()
  },
  beforeDestroy () {
    this.refreshRunner.stop()
  },
  watch: {
    curMessage () {
      if (this.curMessage.message.length > 0) {
        let msg = {
          message: this.curMessage.message,
          type: this.curMessage.type
        }
        Message(msg)
      }
    },
    // Go forward or back reconfirm menu-item
    $route (to, from) {
      this.setCurMenumIndex(to.name)
    },
    curMenu (val) {
      if (val === 'userMenu') {
        if (this.menuMoveXPct === 0) {
          this.menuMoveXPct = 100
        }
      } else {
        if (this.menuMoveXPct === 100) {
          this.menuMoveXPct = 0
        }
      }
    }
  },
  computed: {
    ...mapState([
      'curMessage',
      'curAlarmCnt',
      'user'
    ]),
    ...mapGetters([
      'curPage'
    ]),
    alarmTip () {
      let almTip = 'Not alarm'
      if (this.curAlarmCnt > 0) almTip = `${this.curAlarmCnt} alarms`
      return almTip
    },
    loginTs () {
      let tsStr = moment(this.user.loginTs * 1000).format('YYYY-MM-DD HH:mm:ss')
      return tsStr
    }
  },
  methods: {
    ...mapActions([
      'updateActivePrjs',
      'getAlarmStatus',
      'getLoginUserInfo'
    ]),
    menuSelect (index, indexPath) {
      let mainPage = glbData.getMoudleMain(index)
      if (mainPage !== this.curPage) {
        this.$router.push({name: mainPage})
      }
    },
    userMenuSelect (index, indexPath) {
      this.menuSelect(index, indexPath)
    },
    setCurMenumIndex (pageName) {
      let moduleName = glbData.belongModule(pageName)
      if (this.curIndex !== moduleName) {
        if ((moduleName === glbData.USR_PROFILE || moduleName === glbData.USR_CREDENTIAL)) {
          if (this.curMenu !== 'userMenu') {
            this.curMenu = 'userMenu'
            this.controlTmpIndex = this.curIndex.length === 0 ? glbData.HLT_MODULE_NAME : this.curIndex
          }
        } else this.curMenu = 'controlMenu'
        this.curIndex = moduleName
      }
    },
    userLogout () {
      tokenPrc.clearToken()
      this.$router.push({name: glbData.LGI_MAIN})
    },
    userProfile () {
      this.$router.push({name: glbData.USR_PROFILE})
    },
    getAlarmIcon () {
      let icon = ''
      if (this.curAlarmCnt === 0) icon = require('../assets/images/blue.png')
      else icon = require('../assets/images/alarm.gif')
      return icon
    },
    viewRealTimeAlarm () {
      this.openedsSubMenu = [`${glbData.ALM_MODULE_NAME}`]
      this.menuSelect(glbData.ALM_REALTIME)
    },
    refreshFun () {
      let token = tokenPrc.getToken()
      if (token == null) this.$router.push({name: glbData.LGI_MAIN})
      this.updateActivePrjs()
      if (this.curPage !== glbData.ALM_REALTIME) {
        this.getAlarmStatus()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../style/iconfont.scss";
@import "../style/devops-color.scss";

.wrapper{
  $vp-hight:100vh;
  height: $vp-hight;
  display:flex;
  flex-direction: column;
  min-width: 1140px;
  min-height: 400px;
  .header{
    height: 60px;
    padding: 10px 0;
    background-color: $dvs-cl-main-header;
    color: $dvs-cl-main-header-font;
    .logo{
      padding-left: 20px;
      font-size: 25px;
      i{
        font-size: 25px;
      }
    }
    .alarm{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
    .user{
      padding-right: 30px;
      text-align: right;
      .user_btn{
        color: $dvs-cl-main-header-font;
        padding-bottom: 0;
      }
    }
  }

  .body{
    flex-grow: 1;
    .menu {
      position: relative;
      overflow-x: hidden;
      .contorl_menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0 2px 2px 0;
        transition: .5s ease-in-out;
        overflow: hidden;
        display: inline-block;
        .el-menu-item {
          min-width: 140px;
        }
      }
      .user_menu{
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        border-radius: 0 2px 2px 0;
        transition: .5s ease-in-out;
        overflow: hidden;
        display: inline-block;
        .el-menu-item {
          min-width: 140px;
        }
      }
    }
    .content{
      display: flex;
      flex-direction: column;
    }   
  }
}

.el-popover{
  .user_content{
    width: 260px;
    height: 230px;
    display: flex;
    flex-direction: column;
    .user_info{
      flex: 1 0 auto;
      background-color: $dvs-cl-main-header;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      .user_pic{
        border-radius: 50%;
        border: 3px solid;
        border-color: rgba(41,128,201,.5);
        background-color: white;
        text-align: center;
        height: 88px;
        width: 90px;
        padding-top: 2px;
        i{
          font-size: 80px;
          color: grey;
        }
      }
      .user_login_info{
        padding-top: 10px;
        color: $dvs-cl-main-header-font;
        text-align: center;
        font-size: 14px;
      }
    }
    .user_oprt{
      flex: 0 0 60px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 12px;
    }
  }
}
</style>
