<template>
  <div class="login_container">
    <div class="login_bg"></div>
    <header class="login_header">
      <span class="login_log"><i class="iconfont icon-devops"></i>&nbsp;CodePipeline</span>
    </header>
    <main class="login_main">
      <div class="login_svg"></div>
      <div class="login_oprt">
        <div class="login_card">
          <div class="login_card_title">Welcome Login</div>
          <el-form :model="loginInfo" 
            label-position="left" 
            label-width="100px"
            :rules="rules" 
            ref="loginForm">
            <el-form-item label="User" 
              :prop="this.defUserKey">
              <el-input v-model="loginInfo.user"
                :autofocus="true"
                @keyup.enter.native="login('loginForm')"
                placeholder="user">
              </el-input>
            </el-form-item>
            <el-form-item label="Password" 
              :prop="this.defPwdKey">
              <el-input type="password" 
                v-model="loginInfo.pwd" 
                auto-complete="off"
                @keyup.enter.native="login('loginForm')"
                placeholder="password">
              </el-input>
            </el-form-item>
            <el-form-item prop="isRemember">
              <el-checkbox v-model="loginInfo.isRemember">{{`Remember me 2 weeks`}}</el-checkbox>
            </el-form-item>
            <div class="login_oprt_fitem">
              <el-button type="primary" 
              @click="login('loginForm')">Login</el-button>
            </div>
          </el-form>
        </div>
      </div>
    </main>
    <footer class="login_footer">
      <div class="login_connect">Connect&nbsp;us:&nbsp;029&nbsp;-&nbsp;8766&nbsp;9933</div>
      <div class="login_right">©&nbsp;1983-2017&nbsp;Advantech&nbsp;Co.,&nbsp;Ltd.</div>
    </footer>
  </div>
</template>

<script>
import { Message } from 'element-ui'
import * as glbData from '@/js/globalData'
import * as tokenPrc from '@/js/tokenProcess'
import {loginAPI} from '@/api/restfulAPI'
const DEF_TOKEN_TS = (2 * 7 * 24 * 60) // 2 weeks
const DEF_USER_KEY = 'user'
const DEF_PWD_KEY = 'pwd'

export default {
  name: 'dvs-login',
  data () {
    return {
      pageName: glbData.LGI_MAIN,
      defTokenTs: DEF_TOKEN_TS,
      defUserKey: DEF_USER_KEY,
      defPwdKey: DEF_PWD_KEY,
      loginInfo: {
        user: '',
        pwd: '',
        isRemember: false
      },
      rules: {
        [DEF_USER_KEY]: [
          {required: true, message: 'User cannot be empty', trigger: 'None'}
        ],
        [DEF_PWD_KEY]: [
          {required: true, message: 'Password cannot be empty', trigger: 'None'}
        ]
      }
    }
  },
  methods: {
    login (formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          let tokenTs = this.loginInfo.isRemember ? this.defTokenTs : 0
          loginAPI.login(this.loginInfo.user, this.loginInfo.pwd, tokenTs).then(data => {
            tokenPrc.setToken(data.token)
            if (this.loginInfo.isRemember) tokenPrc.rememberToken(data.token)
            this.$router.push({name: glbData.MAIN_MAIN})
          }).catch(error => {
            if (error.errCode === 401 && error.subStatus === 1) {
              if (error.data != null &&
                error.data.errorMsg != null &&
                error.data.errorMsg.length > 0) {
                let msg = {
                  message: `Login failed, cause: ${error.data.errorMsg}`,
                  type: 'error'
                }
                Message(msg)
              }
            }
          })
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../style/iconfont.scss";
@import "../../style/devops-color.scss";

.login_container{
  $vp-hight:100vh;
  height: $vp-hight;
  display: flex;
  flex-direction: column;
  .login_bg{
    position:absolute;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    z-index:-1;
    background-color: #F0F0EE;
  }
  .login_header{
    flex: 0 0 80px;
    padding: 0 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .login_log{
      font-size: 38px;
      font-weight: bold;
      color: $dvs-cl-primiry;
      i{
        font-size: 42px;
      }
    }
  }
  .login_main{
    flex: 1 0 450px;
    background-color:#1f2c3d;
    display: flex;
    .login_svg{
      flex: 1 1 auto;
      background: url('../../assets/images/devops-bk.png') no-repeat center center;
      background-size: 70% 50%; 
    }
    .login_oprt{
      padding: 60px 80px;
      flex: 0 0 350px;
      display: flex;
      flex-direction: column;
      .login_card{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 30px 10px;
        border: 1px solid rgb(209, 218, 229);
        border-radius: 8px;
        background-color: #fff;
        overflow: hidden;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .12), 0px 0px 6px 0px rgba(0, 0, 0, .04);
        color: #666;
        .login_card_title{
          margin: 20px;
          font-size: 1.5em;
          font-weight: bold;
        }
        .el-form{
          padding: 0 20px 20px;
          .login_oprt_fitem{
            display: flex;
            flex-direction: column;
            align-items: stretch;
            padding: 20px 0;
          }
        }
      }
    }
  }
  .login_footer{
    flex: 0 0 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .login_connect{
      font-size: 14px;
      font-weight: 700;
    }
    .login_right{
      font-size: 16px;
    }
  }
}
</style>
